@import be.objectify.deadbolt.scala.AuthenticatedRequest
@(handler: be.objectify.deadbolt.scala.DeadboltHandler, userPictureUri: Option[String], userFirstName: Option[String], userFamilyName: Option[String], tttUser: io.sudostream.timetoteach.messages.systemwide.model.User, postInitialPreferencesUrl: Call)(implicit request: AuthenticatedRequest[Any])

@timetoteachAppMain(handler, "Class Timetable",
    userPictureUri, userFirstName, userFamilyName) {

    <div class="container text-center justify-content-center">
        <h1>School Times & Class Details</h1>

        <section id="askInitialPreferencesForm">
            <form action="@postInitialPreferencesUrl.url" method="post" id="needs-validation" novalidate>
                @helper.CSRF.formField
                <div class="col-sm-12">
                    <div class="school-times-section">

                        <div class="row row-in-form">

                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="form-group col-sm-8">
                                        <div class="bootstrap-timepicker timepicker">
                                            <label for="schoolStartTime">School Start Time</label>
                                            <input id="schoolStartTime" type="text" class="form-control input-small">
                                        </div>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="form-group col-sm-8">
                                        <div class="bootstrap-timepicker timepicker">
                                            <label for="morningBreakStartTime">Morning Break Start Time</label>
                                            <input id="morningBreakStartTime" type="text" class="form-control input-small">
                                        </div>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="form-group col-sm-8">
                                        <div class="bootstrap-timepicker timepicker">
                                            <label for="morningBreakEndTime">Morning Break End Time</label>
                                            <input id="morningBreakEndTime" type="text" class="form-control input-small">
                                        </div>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                            </div>

                        </div>

                        <div class="row row-in-form">

                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="form-group col-sm-8">
                                        <div class="bootstrap-timepicker timepicker">
                                            <label for="lunchStartTime">Lunch Start Time</label>
                                            <input id="lunchStartTime" type="text" class="form-control input-small">
                                        </div>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="form-group col-sm-8">
                                        <div class="bootstrap-timepicker timepicker">
                                            <label for="lunchEndTime">Lunch End Time</label>
                                            <input id="lunchEndTime" type="text" class="form-control input-small">
                                        </div>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                            </div>


                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="form-group col-sm-8">
                                        <div class="bootstrap-timepicker timepicker">
                                            <label for="schoolEndTime">School End Time</label>
                                            <input id="schoolEndTime" type="text" class="form-control input-small">
                                        </div>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="form-submit-button">
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
            </form>
        </section>
    </div>


    <script type="text/javascript">
            $('#schoolStartTime').timepicker({
                template: false,
                showInputs: false,
                minuteStep: 5,
                defaultTime: '09:00 AM'
            });
            $('#morningBreakStartTime').timepicker({
                template: false,
                showInputs: false,
                minuteStep: 5,
                defaultTime: '10:30 AM'
            });
            $('#morningBreakEndTime').timepicker({
                template: false,
                showInputs: false,
                minuteStep: 5,
                defaultTime: '10:45 AM'
            });
            $('#lunchStartTime').timepicker({
                template: false,
                showInputs: false,
                minuteStep: 5,
                defaultTime: '12:00 AM'
            });
            $('#lunchEndTime').timepicker({
                template: false,
                showInputs: false,
                minuteStep: 5,
                defaultTime: '01:00 PM'
            });
            $('#schoolEndTime').timepicker({
                template: false,
                showInputs: false,
                minuteStep: 5,
                defaultTime: '03:00 PM'
            });


    </script>

}