@import be.objectify.deadbolt.scala.AuthenticatedRequest
@(handler: be.objectify.deadbolt.scala.DeadboltHandler, userPictureUri: Option[String], userFirstName: Option[String], userFamilyName: Option[String], tttUser: io.sudostream.timetoteach.messages.systemwide.model.User, postInitialPreferencesUrl: Call)(implicit request: AuthenticatedRequest[Any])

@timetoteachAppMain(handler, "Setup Questions",
    userPictureUri, userFirstName, userFamilyName, None, None, None){
    <li></li>}{

    <div class="container justify-content-center">

        <section id="askInitialPreferencesForm">
            <form action="@postInitialPreferencesUrl.url" method="post" id="needs-validation" novalidate>
                @helper.CSRF.formField
                <div class="school-form-section">

                    <button id="initial-prefs-school-times-info-button" type="button" data-html="true" data-dismiss="modal" class="btn btn btn-secondary d-flex justify-content-end"
                    data-toggle="popover" title="School Times Help" data-placement="left"
                    data-content="<p>
                                Currently we assume one break per day, in the morning, and no afternoon break. In the future
                                this will be more adaptable.
                                </p>" >
                        <span aria-hidden="true"><strong>&#9432;</strong></span>
                    </button>

                    <h6 class="text-center text-muted form-header">School Times</h6>

                    <div class="form-row">

                        <input id="schoolId" type="hidden" class="form-control input-small" name="schoolId" value="@(if(tttUser.schools.nonEmpty){tttUser.schools.head.school.id}else{""})">

                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            <div class="form-row">
                                <div class="form-group bootstrap-timepicker timepicker col-sm-5">
                                    <label for="schoolStartTime">School Start</label>
                                    <input type="text" class="form-control input-small" id="schoolStartTime" name="schoolStartTime">
                                </div>
                                <div class="col-sm-2"></div>
                                <div class="form-group bootstrap-timepicker timepicker col-sm-5">
                                    <label for="schoolEndTime">School End</label>
                                    <input id="schoolEndTime" type="text" class="form-control input-small" name="schoolEndTime">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group bootstrap-timepicker timepicker col-sm-5">
                                    <label for="morningBreakStartTime">Morning Break Start</label>
                                    <input id="morningBreakStartTime" type="text" class="form-control input-small" name="morningBreakStartTime">
                                </div>
                                <div class="col-sm-2"></div>
                                <div class="form-group bootstrap-timepicker timepicker col-sm-5">
                                    <label for="morningBreakEndTime">Morning Break End</label>
                                    <input id="morningBreakEndTime" type="text" class="form-control input-small" name="morningBreakEndTime">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group bootstrap-timepicker timepicker col-sm-5">
                                    <label for="lunchStartTime">Lunch Start</label>
                                    <input id="lunchStartTime" type="text" class="form-control input-small" name="lunchStartTime">
                                </div>
                                <div class="col-sm-2"></div>
                                <div class="form-group bootstrap-timepicker timepicker col-sm-5">
                                    <label for="lunchEndTime">Lunch End</label>
                                    <input id="lunchEndTime" type="text" class="form-control input-small" name="lunchEndTime">
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>


                <div class="form-submit-button text-center">
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>

            </form>

            <div class="alert alert-info alert-dismissible fade show wee-margin-top" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p class="lead">
                    In the full release, you will be able to change the times for each class, rather than at the school level.
                </p>
            </div>

        </section>
    </div>


    <script type="text/javascript">
            $('#schoolStartTime').timepicker({
                template: false,
                showInputs: false,
                minuteStep: 5,
                defaultTime: '09:00 AM'
            });
            $('#morningBreakStartTime').timepicker({
                template: false,
                showInputs: false,
                minuteStep: 5,
                defaultTime: '10:30 AM'
            });
            $('#morningBreakEndTime').timepicker({
                template: false,
                showInputs: false,
                minuteStep: 5,
                defaultTime: '10:45 AM'
            });
            $('#lunchStartTime').timepicker({
                template: false,
                showInputs: false,
                minuteStep: 5,
                defaultTime: '12:00 PM'
            });
            $('#lunchEndTime').timepicker({
                template: false,
                showInputs: false,
                minuteStep: 5,
                defaultTime: '01:00 PM'
            });
            $('#schoolEndTime').timepicker({
                template: false,
                showInputs: false,
                minuteStep: 5,
                defaultTime: '03:00 PM'
            });


    </script>

    <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });
            $(function () {
                $('[data-toggle="popover"]').popover()
            });
    </script>

    <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                "use strict";
                window.addEventListener("load", function () {
                    var form = document.getElementById("needs-validation");
                    form.addEventListener("submit", function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add("was-validated");
                    }, false);
                }, false);
            }());
    </script>

}