@import be.objectify.deadbolt.scala.AuthenticatedRequest
@(handler: be.objectify.deadbolt.scala.DeadboltHandler, title: String, userPictureUri: Option[String], userFirstName: Option[String], userFamilyName: Option[String])(implicit request: AuthenticatedRequest[Any])

    @timetoteachAppMain(handler, title, userPictureUri, userFirstName, userFamilyName) {

        <h3 class="header-highlight display-4 text-center">Class Timetable</h3>

        <section id="class-timetable-section">
            <div class="container">

                <div class="row headline-row text-primary">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3 timetable-header">Early Morning</div>
                    <div class="col-sm-1 small-column text-center">Break</div>
                    <div class="col-sm-3 timetable-header">Late Morning</div>
                    <div class="col-sm-1 small-column text-center">Lunch</div>
                    <div class="col-sm-3 order timetable-header">Afternoon</div>
                </div>

                <div class="row"><br></div>

                <div class="row dayoftheweek-row align-items-center">
                    <div class="col-sm-1 text-primary timetable-dayofweek-header align-self-center" >Mon</div>
                    <div class="col-sm-3 ">
                        <div class="row">
                            <button class="col-12 rounded subject subject-maths">
                                Maths
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-1 small-column "></div>
                    <div class="col-sm-3">
                        <div class="row">
                            <button class="col-4 rounded subject subject-reading">Reading</button>
                            <button class="col-4 rounded subject subject-spelling">Spelling</button>
                            <button class="col-4 rounded subject subject-ict">ICT</button>
                        </div>
                    </div>
                    <div class="col-sm-1 small-column"></div>

                    <div class="col-sm-3">
                        <div class="row">
                            <button class="col-12 rounded subject subject-topic">Topic</button>
                        </div>
                    </div>
                </div>

                <div class="row"><br></div>

                <div class="row dayoftheweek-row align-items-center">
                    <div class="col-sm-1 text-primary timetable-dayofweek-header align-self-center" >Tue</div>
                    <div class="col-sm-3 ">
                        <div class="row">
                            <button class="col-6 rounded subject subject-maths">Maths</button>
                            <button class="col-6 rounded subject subject-physical-education">P.E.</button>
                        </div>
                    </div>
                    <div class="col-sm-1 small-column"></div>
                    <div class="col-sm-3">
                        <div class="row">
                            <button class="col-8 rounded subject subject-writing">Writing</button>
                            <button class="col-4 rounded subject subject-music">Music</button>
                        </div>
                    </div>
                    <div class="col-sm-1 small-column"></div>
                    <div class="col-sm-3">
                        <div class="row">
                            <button class="col-12 rounded subject subject-topic">Topic</button>
                        </div>
                    </div>
                </div>

                <div class="row"><br></div>

                <div class="row dayoftheweek-row align-items-center">
                    <div class="col-sm-1 text-primary timetable-dayofweek-header align-self-center" >Wed</div>
                    <div class="col-sm-3 ">
                        <div class="row">
                            <button class="col-6 rounded subject subject-reading">Reading</button>
                            <button class="col-6 rounded subject subject-spelling">Spelling</button>
                        </div>
                    </div>
                    <div class="col-sm-1 small-column"></div>
                    <div class="col-sm-3">
                        <div class="row">
                            <button class="col-8 rounded subject subject-maths">Maths</button>
                            <button class="col-4 rounded subject subject-drama">Drama</button>
                        </div>
                    </div>
                    <div class="col-sm-1 small-column"></div>
                    <div class="col-sm-3">
                        <div class="row">
                            <button class="col-6 rounded subject subject-physical-education">P.E.</button>
                            <button class="col-6 rounded subject subject-health">Health</button>
                        </div>
                    </div>
                </div>

                <div class="row"><br></div>

                <div class="row dayoftheweek-row align-items-center">
                    <div class="col-sm-1 text-primary timetable-dayofweek-header align-self-center" >Thu</div>
                    <div class="col-sm-3 ">
                        <div class="row">
                            <button class="col-12 rounded subject subject-maths">Maths</button>
                        </div>
                    </div>
                    <div class="col-sm-1 small-column"></div>
                    <div class="col-sm-3">
                        <div class="row">
                            <button class="col-4 rounded subject subject-reading">Reading</button>
                            <button class="col-8 rounded subject subject-topic">IDL</button>
                        </div>
                    </div>
                    <div class="col-sm-1 small-column"></div>
                    <div class="col-sm-3">
                        <div class="row">
                            <button class="col-12 rounded subject subject-teacher-covertime">RCCT -TODO: contain subjects</button>
                        </div>
                    </div>
                </div>

                <div class="row"><br></div>

                <div class="row dayoftheweek-row align-items-center">
                    <div class="col-sm-1 text-primary timetable-dayofweek-header align-self-center" >Fri</div>
                    <div class="col-sm-3 ">
                        <div class="row">
                            <button class="col-8 rounded subject subject-spelling">Spelling</button>
                            <button class="col-4 rounded subject subject-reading">Reading</button>
                        </div>
                    </div>
                    <div class="col-sm-1 small-column"></div>
                    <div class="col-sm-3">
                        <div class="row">
                            <button class="col-8 rounded subject subject-maths">Maths</button>
                            <button class="col-4 rounded subject subject-topic">IDL</button>
                        </div>
                    </div>
                    <div class="col-sm-1 small-column"></div>
                    <div class="col-sm-3">
                        <div class="row">
                            <button class="col-6 rounded subject subject-assembly">Assembly</button>
                            <button class="col-6 rounded subject subject-golden-time">Golden Time</button>
                        </div>
                    </div>
                </div>

            </div>

        </section>
    }
