@(isInitialSignup: Boolean)
<!DOCTYPE html>
<html>
    <head>
        <title>Time To Teach Login</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id"
        content="473457256422-khclkcv9b7u7ecu6q7nntq9460ko3mo4.apps.googleusercontent.com">
        <script type="text/javascript" src="https://apis.google.com/js/platform.js" async defer></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/utils.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/signin.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/signout.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/facebook-login.js")"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("icons/ttt_owl.png")">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#startupNavbar" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="@routes.Assets.versioned("icons/ttt_owl.png")" alt="logo" height="26">
                <span class="ttt-icon-writing display-5">Time to TEACH</span>
            </a>

            <div class="collapse navbar-collapse" id="startupNavbar">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#feature-one">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#news">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Blog</a>
                    </li>
                    <li class="nav-item nav-login-button">
                        <a class="btn btn-outline-primary" href="@routes.Application.login()">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary" href="#">Sign up</a>
                    </li>
                </ul>
            </div>
        </nav>

        <section id="loginSection">
            <div class="container">
                <div class="row">
                    <div class="feature-content">
                        <div class="col-lg-6 d-none d-md-block">
                            <img src="@routes.Assets.versioned("images/laptop.jpeg")" alt="">
                        </div>
                        <div class="col-lg-5 ml-auto">
                            <h6>Log in</h6>

                            @if(isInitialSignup) {
                                <h4>Please sign up to Time To Teach using a social network login.</h4>
                            } else {
                                <h4>Please log in to Time To Teach using a social network login.</h4>
                            }

                            @if(isInitialSignup) {
                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <p class="lead">
                                        Note this allows you to have one less password in the world to remember!
                                    </p>
                                    <p>
                                        We only use the social id for identity and nothing more (e.g. access to
                                        friends, tweets, posts etc)
                                    </p>
                                </div>
                            }

                            <div class="loginButtonGroup border border-secondary rounded" >

                                <div class="d-flex justify-content-center loginButton">
                                    <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with"
                                    scope="public_profile,email"
                                    data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
                                </div>

                                <div class="d-flex justify-content-center loginButton">
                                    <div class="g-signin2"
                                    data-longtitle="true"
                                    data-onsuccess="onSignIn"
                                    data-width="236"
                                    data-height="40"
                                    data-theme="dark"></div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>


        <footer id="main-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                                &copy; 2017 Startup.logo is not a real thing. If it is, this site was not meant
                            to be a mockery of it
                        <br>
                        Coded by <a href="http://andyboyle.io">Andy</a>
                    </div>
                    <div class="col-md-2">
                        <h6>Our product</h6>
                        <ul class="list-unstyled">
                            <li><a href="">Features</a></li>
                            <li><a href="">Solutions</a></li>
                            <li><a href="">Plans</a></li>
                            <li><a href="">Sign in</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h6>Our team</h6>
                        <ul class="list-unstyled">
                            <li><a href="">About</a></li>
                            <li><a href="">Highlights</a></li>
                            <li><a href="">Investors</a></li>
                            <li><a href="">Partners</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h6>Other things</h6>
                        <ul class="list-unstyled">
                            <li><a href="">Jobs</a></li>
                            <li><a href="">Contact</a></li>
                            <li><a href="">FAQ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        @* ========================================================================================================*@
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>


    </body>
</html>