@(title: String)(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id"
        content="19438371353-1gljfancidnfrtjdt2ic22hd3ib4fab0.apps.googleusercontent.com">
        <script type="text/javascript" src="https://apis.google.com/js/platform.js" async defer></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/signin.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/signout.js")"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    </head>
    <body>
        <div class="wrapper">

            <div class="box header">
                <a href="@routes.Application.index()">Time To Teach</a>
            </div>

            <div class="box sidebar">
                <button id="main-menu-button" type="button" class="btn btn-default" data-toggle="collapse" data-target="#menuitems">
                    <IMG id="main-menu-button-img" src="@routes.Assets.versioned("icons/hamburger32.png")" border="0" alt="Main Menu">
                </button>
                <ul id="menuitems" class="collapse">
                    <li><a href="@routes.Application.login()">login</a></li>
                    <li><a href="#" onclick="signOut();">logout</a></li>
                    <li><a href="@routes.Application.timeToTeachApp()">app</a></li>
                </ul>
            </div>

            <div class="box content">@content</div>

            <div class="box footer">Footer</div>

        </div>

    </body>
</html>
