@(userForm: Form[controllers.UserSignupController.UserData], postUrl: Call, userPictureUri: String, userFirstName: String)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

<html>
    <head>
        <title>Signup to TimeToTeach</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    </head>
    <body>

        <h2>Hi @userFirstName!</h2>
        <h3>Sign up to Time To Teach</h3>

    </body>

    @* Global errors are not tied to any particular form field *@
    @if(userForm.hasGlobalErrors) {
        @userForm.globalErrors.map { error: FormError =>
            <div>
                @error.key: @error.message
            </div>
        }
    }

    <picture>
        <source media="(min-width: 50px)" srcset="@userPictureUri">
        <img class="img-circle" src="@userPictureUri" alt="" style="width: auto;">
    </picture>

    @helper.form(postUrl) {
        @helper.CSRF.formField
        @helper.inputText(userForm("First Name"))
        @helper.inputText(userForm("Family Name"))
        @helper.inputText(userForm("Email Address"))
        <button>Signup</button>
    }

</html>
