@import be.objectify.deadbolt.scala.AuthenticatedRequest
@(handler: be.objectify.deadbolt.scala.DeadboltHandler, title: String, userPictureUri: Option[String], userFirstName: Option[String], userFamilyName: Option[String], devToggle: Boolean)(implicit request: AuthenticatedRequest[Any])

@timetoteachAppMain(handler, "Dashboard", userPictureUri, userFirstName, userFamilyName, None, None, None, None) {

    <div class="in-app-menu-small-devices">
        <div class="row row-for-mobile"><br></div>
        <li class="nav-item nav-login-button">
            <a class="btn btn-outline-primary btn-block" role="button" href="@routes.Application.timeToTeachApp()">
                Dashboard</a>
        </li>

        <li class="nav-item nav-login-button ">
            <a class="btn btn-outline-primary btn-block" role="button" href="@controllers.planning.termly.routes.TermlyPlansController.termlyPlans()">
                Termly Plans Home</a>
        </li>

        @if(userPictureUri.isDefined) {
            <li class="nav-item nav-login-button">
                <a class="nav-link" href="#"><img class="img-circle-standard" src="@userPictureUri" height="32px"></a>
            </li>
        }
        <div class="row row-for-mobile"><br></div>
        <li class="nav-item nav-login-button">
        @if(userFirstName.isDefined) {
            <a class="btn btn-sm btn-outline-primary btn-block" href="#" onclick="signOut();">
                Sign Out</a>
        } else {
            <a class="btn btn-sm btn-outline-primary btn-block" href="@routes.Application.login()">
                Log In</a>
        }
        </li>
        <li class="nav-item nav-login-button ">
            <a class="btn btn-sm btn-outline-primary btn-block" href="https://www.facebook.com/groups/305966139892476/">
                <img src="@routes.Assets.versioned("icons/FB-f-Logo__blue_29.png")" alt="logo" height="19">
                Facebook Group</a>
        </li>


    </div>

}{
    <li></li>
} {

    <section id="dashboardContent">

        <div class="container">

            <div class="row">
                <div class="col-md-5 dashboardFadedBackground text-center">
                    <h3 class="display-5 text-center">Planning</h3>
                    <a class="btn btn-primary btn-lg dashboard-button" href="@controllers.planning.classtimetable.routes.ClassTimetableController.classesHome()" role="button">
                        My Classes</a>

                    <a class="btn btn-info btn-lg dashboard-button" href="@controllers.planning.termly.routes.TermlyPlansController.termlyPlans()" role="button">
                        Termly Plans</a>

                    <button type="button" disabled="true" class="btn btn-dark btn-lg dashboard-button">Weekly Plans</button>
                </div>
                <div class="col-md-1">
                </div>
                <div class="row row-for-mobile"><br></div>
                <div class="col-md-5 dashboardFadedBackground text-center">
                    <h3 class="display-5 text-center">Resources</h3>
                    <button type="button" disabled="true" class="btn btn-dark btn-lg dashboard-button">IDL</button>
                    <button type="button" disabled="true" class="btn btn-secondary btn-lg dashboard-button">
                        Lesson Ideas</button>
                </div>
            </div>

            <div class="row"><br></div>

            <div class="row">
                <div class="col-md-5 dashboardFadedBackground text-center">
                    <h3 class="display-5 text-center">Communication</h3>
                    <button type="button" disabled="true" class="btn btn-dark btn-lg dashboard-button">
                        School Noticeboard</button>
                    <button type="button" disabled="true" class="btn btn-secondary btn-lg dashboard-button">
                        Time To Teach Community</button>
                    <button type="button" disabled="true" class="btn btn-dark btn-lg dashboard-button">Parents</button>
                </div>
                <div class="col-md-1">
                </div>
                <div class="row row-for-mobile"><br></div>
                <div class="col-md-5 dashboardFadedBackground text-center">
                    <h3 class="display-5 text-center">Admin & Reports</h3>
                    <button type="button" disabled="true" class="btn btn-dark btn-lg dashboard-button">Staff</button>
                    <button type="button" disabled="true" class="btn btn-secondary btn-lg dashboard-button">Classrooms</button>
                    <button type="button" disabled="true" class="btn btn-dark btn-lg dashboard-button">Reports</button>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center facebook-group-join-dashboard">
            <a id="facebook-group-button" class="btn btn-primary btn-lg text-center" href="https://www.facebook.com/groups/305966139892476/">
                <img class="facebook-group-icon" src="@routes.Assets.versioned("icons/FB-f-Logo__white_29.png")" alt="logo" height="22">
                Join Our Facebook Group
            </a>
        </div>

    </section>

    <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
            $(function () {
                $('[data-toggle="popover"]').popover();
            });
    </script>

    @scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
}
