@import be.objectify.deadbolt.scala.AuthenticatedRequest
@(handler: be.objectify.deadbolt.scala.DeadboltHandler, title: String, userPictureUri: Option[String], userFirstName: Option[String])(implicit request: AuthenticatedRequest[Any])

    @timetoteachAppMain(handler, title, userPictureUri, userFirstName) {

        <h3 class="header-highlight display-3 text-center">Dashboard</h3>

        <section id="dashboardContent">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 dashboardFadedBackground">
                        <h3 class="display-5 text-center">Planning</h3>
                    </div>
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-5 dashboardFadedBackground">
                        <h3 class="display-5 text-center">Resources</h3>
                    </div>
                </div>

                <div class="row"><br></div>

                <div class="row">
                    <div class="col-lg-5 dashboardFadedBackground">
                        <h3 class="display-5 text-center">Communication</h3>
                    </div>
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-5 dashboardFadedBackground">
                        <h3 class="display-5 text-center">Admin & Reports</h3>
                    </div>
                </div>
            </div>
        </section>
    }
