
#noClassesMsg {
    margin-top: 2rem;
    margin-left: 1rem;
}

#addNewClassBtn {
    margin: 2rem 1rem;
}

.add-new-class-form-section {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.add-new-class-form-row {
    margin-bottom: 3rem;
}

.add-new-class-button {
    margin-top: 0.4rem;
    /*background: white;*/
}

.add-new-group-row {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.delete-new-class-group-row {
    /*color: rgb(66,139,202);*/
    color: rgb(66,139,162);
}

#add-new-class-form-errors {
    margin: 1rem 0;
    display: none;
}

.add-new-class-form-error {
    margin: 0.25rem 0;
}