
.noClassesMsg {
    margin-left: 0;
    margin-top: 7rem;
}

#addNewClassBtn {
    /*margin-left: 1rem;*/
    /*margin-top: 1rem;*/
    /*margin-bottom: 1.5rem;*/
}

.add-new-class-form-section {
    margin-top: 1rem;
    padding-bottom: 10rem;
}

.add-new-class-form-row {
    margin-bottom: 1.5rem;
}

.add-new-class-button {
    margin-top: 0.4rem;
    /*background: white;*/
}

.add-new-group-row {
    border: 1px solid lightgrey;
    background: rgba(0, 0, 0, 0.03);
    padding: 1.5rem 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.delete-new-class-group-row {
    /*color: rgb(66,139,202);*/
    color: rgb(66, 139, 162);
}

#add-new-class-form-errors {
    margin: 1rem 0;
    display: none;
}

.add-new-class-form-error {
    margin: 0.25rem 0;
}

.teachers-classes {
    background: white;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 20rem;
}

.teachers-classes-edit-btn {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-right: 2rem;
}

.teachers-classes-btn {
    /*margin: 0.25rem;*/
}

.teachers-classes-goto-btn {
    /*float: left;*/
}

.teachers-classes-delete-btn {
    float: right;
}

.teacher-classes-deck {
    margin-left: 0;
    margin-bottom: 2rem;
}

.teacher-classes-card{
    background: #f6f6ff;
    margin: 0.4rem 0;
}

.new-class-group-description {
    margin-top: 0.8rem;
}

.classNameCardHeader {
    color: black;
}

#tabForHomeClasses {
    margin-top: 1.5rem;
}

.manage-class-form-section {
    margin-top: 1rem;
}

.manage-class-form-row {
    margin-bottom: 1.5rem;
}

.manage-class-details-header {
    margin-top: 2rem;
}

.add-new-class-label {
    /*font-weight: bold;*/
}

.manage-class-section {
    margin-top: 3rem;
}

.manage-class-nav-item-on-left {
    margin-left: 1rem;
}

.manage-class-nav-item-on-right {
    margin-right: 1rem;
}

.classes-home-section {
    margin-top: 1rem;
}

.add-new-class-header {
    margin-top: 1rem;
    margin-bottom: 1.8rem;
}

.manage-class-group-header {
    margin-top: 1rem;
    margin-bottom: 0.4rem;
}

.manage-class-group-row {
    margin-top: 0.5rem;
}

.save-new-class-button {
    margin-bottom: 5rem;
}

.empty-div-with-bottom {
    margin-top: 2rem;
    margin-bottom: 10rem;
}

.app-nav-section {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.in-app-menu-medium-and-up {
    display: none;
}

.in-app-menu-small-devices {
    display: block;
}

.in-app-menu-small-devices-row {
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.the-group-plans-button {
    /*display: block;*/
}

.float-right {
    float: right;
}

.manage-new-group-row {
    border: 1px solid lightgrey;
    background: rgba(0, 0, 0, 0.03);
    padding: 0.2rem 0.2rem;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}

.add-new-group-modal-row {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.add-new-group-modal-save {
    margin-bottom: 1rem;
}

#addNewGroupModalBodyErrorsDiv {
    display: none;
}

#addNewGroupModalBodyErrorsAlert {

}

@media screen and ( min-width: 990px) {
    .manage-new-group-row {
        border: 0;
        background: rgba(0, 0, 0, 0);
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;

    }
    .in-app-menu-medium-and-up {
        display: block
    ;
    }

    .in-app-menu-small-devices {
        display: none;
    }
}

@media screen and ( min-width: 1200px) {
    .in-app-menu-medium-and-up {
        display: block;
    }
    .in-app-menu-small-devices {
        display: none;
    }
}

