
#noClassesMsg {
    margin-top: 2rem;
    margin-left: 1rem;
}

#addNewClassBtn {
    margin: 2rem 1rem;
}

.add-new-class-form-section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.add-new-class-form-row {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#add-new-class-groups-button {
    /*background: white;*/
}