
h2 {
    font-size: large;
    font-weight: bold;
    color: lightgoldenrodyellow;
    text-align: center;
}

div {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "header sidebar" "content content" "footer footer";
    background-color: #fff;
    color: #444;
}

.box {
    background-color: steelblue;
    color: #fff;
    border-radius: 5px;
    padding: 6px;
    font-size: 120%;
}

.header {
    grid-area: header;
    text-align: center;
    font-size: 170%;
}

.sidebar {
    grid-area: sidebar;
    justify-items: right;
}

.sidebarwrapper {
    grid: inherit;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: minmax(0, 1fr) minmax(0fr, 1fr);
    grid-template-areas: "sidebar-user-icon sidebar-hamburger";
}

.sidebar-hamburger {
    grid-area: sidebar-hamburger;
}

.sidebar-user-icon {
    grid-area: sidebar-user-icon;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}

.makecenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

#main-menu-button-img {
    width: 16px !important;
    height: 16px !important;
}

#menuitems {
    align-content: flex-start;
}

