
h2 {
    font-size: x-large;
    text-align: center;
    color: #3071a9;
    margin-bottom: 20px;
}

div {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr;
    grid-template-areas: "main-nav-bar" "app-nav-bar" "content" "footer";
}

.box {
    border-radius: 5px;
    padding: 6px;
    font-size: 90%;
}

.main-nav-bar {
    grid-area: main-nav-bar;
}

.app-nav-bar {
    grid-area: app-nav-bar;
}

.sidebar {
    grid-area: sidebar;
    justify-items: right;
}

.sidebarwrapper {
    grid: inherit;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: minmax(0, 1fr) minmax(0fr, 1fr);
    grid-template-areas: "sidebar-user-icon sidebar-hamburger";
}

.sidebar-hamburger {
    grid-area: sidebar-hamburger;
}

.sidebar-user-icon {
    grid-area: sidebar-user-icon;
}

.content {
    grid-area: content;
}

.footer {
    /*margin-top: 100px;*/
    grid-area: footer;
    font-size: smaller;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px; /* Height of the footer */
}

.makecenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

#main-menu-button-img {
    width: 16px !important;
    height: 16px !important;
}

#menuitems {
    align-content: flex-start;
}

.nav-icon {
    width: 24px !important;
    height: 24px !important;
}

