@import "timetable-colours.css";
@import "timetable.css";
@import "input-range.css";

@font-face {
    font-family: 'simplifica';
    src: url('/assets/fonts/simplifica.ttf') format('truetype');
}

label {
    padding: 0;
    vertical-align: middle;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    color: #6c6f73
}

h1, h2, h3, h4, h5 {
    color: #555;
}

h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

.header-highlight {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    text-shadow: 1px 1px #eee;
}

.andy {
    float: left;
    text-align: center;
    width: 100%;
}

#submit-lesson-duration {
    margin-top: 0.75rem;
    /*float: right;*/
}

#dashboardContent {
    margin-top: 2rem;
    padding-bottom: 4rem;
}

#dashboardContent h3 {
    color: white;
    margin-top: 1rem;
}

img {
    max-width: 100%;
}

.img-circle-standard {
    border-radius: 50%;
    float: left;
}

.nav-login-button {
    margin-left: 0;
    margin-right: 0;
}

.blockquote {
    font-size: 1.6rem;
    color: #333;
    border: none;
    padding: 0;
}

.blockquote-footer {
    margin: 1rem 0 0;
}

#stage {
    background: url('/assets/images/stage.jpeg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#ttt-logo-front-page {
    margin-bottom: 2.5rem;
}

#follow-us {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.ttt-icon-writing {
    font-family: 'simplifica', sans-serif;
}

#stage-caption {
    font-size: 1.4rem;
    font-weight: 200;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.35);
    padding: 4rem 3rem;
}

#stage-caption h1 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

#stage-caption h2 {
    color: white;
}

.feature-content {
    display: flex;
    padding: 8rem 0;
    overflow: hidden;
}

#signupForm {
    margin-top: 6rem;
}

#about {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.about-us-name {
    margin-top: 0.7rem;
}

#askInitialPreferencesForm {
    margin-top: 2rem;
}

.school-form-section {
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: 1px solid lightgrey;
    padding: 1rem;
}

.form-header {
    margin-bottom: 1.2rem;
}

.signup-form-content {
    padding: 4rem 0;
}

.row-in-form {
    margin-top: 1rem;
}

.center {
    display: flex;
    margin: 0 auto;
}

#signup-header {
    margin-top: 2rem;
}

#feature-two img {
    margin-bottom: -8rem;
}

.feature-dark {
    background: #262F36;
    color: white;
}

.feature-dark h2 {
    color: white;
}

.feature-alt {
    background: #f0f0f0;
}

#pricing {
    height: 100%;
    background-image: url('/assets/images/priceBackground.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: ghostwhite;
}

#congratsSection {
    background: url('/assets/images/congrats.jpeg') center center no-repeat;
    background-size: cover;
    min-height: 100%;
    display: flex;
    width: 100%;
}

#appBackground {
    margin-top: 3rem;
    background-image: url('/assets/images/appBackgroundAlt.jpeg');
    background-repeat: repeat-y;
    background-size: 100% 100%;
    min-height: 100%;
    width: 100%;
}

.congratsJumbo h1 {
    color: white;
}

.congratsJumbo {
    margin-top: 12rem;
    color: white;
    background: rgba(0, 0, 0, 0.45);
}

.pricing-btn {
    width: 50%;
    margin-bottom: 2rem;
    align-self: center;
}

#pricing .lead {
    margin-top: 1.5rem;
}

#pricing .card-deck {
    margin-top: 4rem;
}

#pricing ul {
    margin-top: 2rem;
}

#pricing li {
    margin: 0.25rem 0;
}

#pricing .check-icon {
    margin-left: 0.25rem;
    margin-right: 0.5rem;
}

.card-subtitle {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

#feature-four .feature-content {
    padding: 0;
}

#feature-five img {
    padding-top: 2rem;
}

#main-footer {
    background: #262F36;
    color: white;
    padding: 8rem 0;
    font-size: 0.8rem;
}

#main-footer h6 {
    color: #718FA9;
}

#main-footer a {
    color: #6C6F73;
}

.loginButton {
    margin: 2rem 0;
}

#mainAppTopMargin {
    padding-top: 1rem;
}

#userSignupButton {
    margin: 25px;
}

#selectedSchoolTable td {
    color: blue;
}

#selectedSchoolDiv {
    margin-top: 30px;
}

.dashboardFadedBackground {
    min-height: 10rem;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.20);
    border-radius: 1%;
}

.dashboard-button {
    margin-top: 2rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    min-width: 12rem;
}

#dashboardContent .col-lg-1 {
    width: 1px !important;
    max-width: 1px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#app-main-screen-title {
    float: right;
    /*margin-left: 2rem;*/
    /*clear: both;*/
    /*display: inline-block;*/
    /*white-space: nowrap;*/
}

.classCurriculumLevelsRow {
    margin-top: 2rem;
}

#startupNavbar {

}

#fill-rest-session-button {
    margin-top: 1rem;
}

#precise-time-button {
    margin-top: 1rem;
}

#precise-lesson-timing-body {
    display: none;
}

.precise-lesson-timing-group {
    /*border: 1px solid lightgrey;*/
    padding: 0.5rem;
}

.second-timepicker {
    margin-top: 1.7rem;
}

.precise-lesson-timing-div {
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, s .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.non-empty-subject .lesson-start-time {
    font-size: xx-small;
    float: left;
    line-height: 5px;
    color: #393969;
}

.non-empty-subject .lesson-end-time {
    font-size: xx-small;
    float: right;
    line-height: 5px;
    color: #393969;
}

.subject-main-header {
    line-height: 1rem;
}

.subject-additional-info {
    color: #0a0a0a;
    background-color: lightgoldenrodyellow;
    line-height: 1rem;
    font-size: smaller;
    margin-bottom: 4px;
    width: 90%;
}


.small-close {
    font-size: xx-small;
}

.clear-both {
    clear: both;
}

#subject-summary-in-timetable {
    margin-top: 2rem;
    margin-left: 2rem;
    width: 40%;
}


#subject-summary-in-timetable .card-header,
#subject-summary-in-timetable .card-footer {
    background: rgba(0, 0, 0, 0.07);
}

.subject-name-title {
    margin-top: 1rem;
}

#class-timetable-subject-warning {
    margin-top: 0;
}

.about-us {
    margin-top: 5rem;
}

.about-us h3 {
    margin-bottom: 1.5rem;
}

#class-timetable-subject-aside {
    margin-top: 2rem;
}

#show-subjects-button {
    float: right;
}

#remove-lesson-from-timetable-button {
    margin-right: 1rem;
}

#ok-update-for-timetable-button {
    margin-left: 1rem;
}

#show-subjects-button-div {
    margin-top: 2rem;
    display: none;
    margin-bottom: 7rem;
}

.form-submit-button {
    margin-top: 3rem;
}

#class-timetable-subject-aside-info-button {
    float: left;
}

#initial-prefs-school-times-info-button {
    float: right;
}

#initial-prefs-class-details-info-button {
    float: right;
}


#class-timetable-subject-aside h2 {
    margin-bottom: 1.7rem;
}

.clear-cancel-save-buttons {
    margin-top: 3rem;
    float: right;
}

.clear-cancel-save-buttons a {
    color: white;
}

.clear-cancel-save-buttons a:link {
    color: white;
    text-decoration: none;
}

#class-timetable-subject-warning {
    display: none;
}

#class-timetable-subject-aside{
    display: none;
}

#class-timetable-clear-cancel-save-buttons {
    display: none;
}


@media screen and ( min-width: 991px) {
    .row-for-mobile {
        display: none;
    }
    .dashboardFadedBackground {
        min-height: 22rem;
        margin: 0 auto;
        background: rgba(0, 0, 0, 0.20);
        border-radius: 5%;
    }

    .nav-login-button {
        margin-left: 1rem;
        margin-right: 0.5rem;
    }

    .feature-content {
        display: flex;
        align-items: center;
    }

    #class-timetable-subject-warning {
        display: block;
    }

    #class-timetable-subject-aside{
        display: block;
    }

    #class-timetable-clear-cancel-save-buttons {
        display: block;
    }

    #app-main-screen-title {
        width: 100%;
        margin-left: 2rem;
        clear: both;
        display: inline-block;
        white-space: nowrap;
    }

}

@media screen and ( min-width: 1200px) {
    /*#pricing .card {*/
    /*display: block;*/
    /*}*/
}

