html, body {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    color: #6c6f73
}

h1, h2, h3, h4, h5 {
    color: #555;
}

h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

.header-highlight {
    text-shadow: 1px 1px #eee;
}

#dashboardContent {
    margin-top: 1.5rem;
}

#class-timetable-section {
    margin-top: 8rem;
}

#dashboardContent h3 {
    color: white;
    margin-top: 1rem;
}

img {
    max-width: 100%;
}

.img-circle-standard {
    border-radius: 50%;
}

.nav-login-button {
    margin-left: 3rem;
    margin-right: 0.5rem;
}

.blockquote {
    font-size: 1.6rem;
    color: #333;
    border: none;
    padding: 0;
}

.blockquote-footer {
    margin: 1rem 0 0;
}

#stage {
    background: url('/assets/images/stage.jpeg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#stage-caption {
    font-size: 1.4rem;
    font-weight: 200;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.35);
    padding: 4rem 3rem;
}

#stage-caption h1 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

#stage-caption h2 {
    color: white;
}

.feature-content {
    display: flex;
    padding: 8rem 0;
    overflow: hidden;
}

#signupForm {
    margin-top: 6rem;
}

.signup-form-content {
    padding: 4rem 0;
}

.center {
    display: flex;
    margin: 0 auto;
}

#signup-header {
    margin-top: 2rem;
}

#feature-two img {
    margin-bottom: -8rem;
}

.feature-dark {
    background: #262F36;
    color: white;
}

.feature-dark h2 {
    color: white;
}

.feature-alt {
    background: #f0f0f0;
}

#pricing {
    height: 100%;
    background-image: url('/assets/images/priceBackground.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: ghostwhite;
}

#congratsSection {
    background: url('/assets/images/congrats.jpeg') center center no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    width: 100%;
}

#appBackground {
    margin-top: 3rem;
    background: url('/assets/images/appBackground.jpeg') center center no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.congratsJumbo h1 {
    color: white;
}

.congratsJumbo {
    margin-top: 12rem;
    color: white;
    background: rgba(0, 0, 0, 0.45);
}

.pricing-btn {
    width: 50%;
    margin-bottom: 2rem;
    align-self: center;
}

#pricing .lead {
    margin-top: 1.5rem;
}

#pricing .card-deck {
    margin-top: 4rem;
}

#pricing ul {
    margin-top: 2rem;
}

#pricing li {
    margin: 0.25rem 0;
}

#pricing .check-icon {
    margin-left: 0.25rem;
    margin-right: 0.5rem;
}

.card-subtitle {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

#feature-four .feature-content {
    padding: 0;
}

#feature-five img {
    padding-top: 2rem;
}

#main-footer {
    background: #262F36;
    color: white;
    padding: 6rem 0;
    font-size: 0.8rem;
}

#main-footer h6 {
    color: #718FA9;
}

#main-footer a {
    color: #6C6F73;
}

.loginButton {
    margin: 2rem 0;
}

#mainAppTopMargin {
    padding-top: 2rem;
}


#userSignupButton {
    margin: 25px;
}

#selectedSchoolTable td {
    color: blue;
}

#selectedSchoolDiv {
    margin-top: 30px;
}

.dashboardFadedBackground {
    min-height: 22rem;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.20);
    border-radius: 5%;
}

.dashboard-button {
    margin-top: 2rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    min-width: 12rem;
}

#dashboardContent .col-lg-1 {
    width: 1px !important;
    max-width: 1px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media screen and ( min-width: 991px) {
    .feature-content {
        display: flex;
        align-items: center;
    }
}

@media screen and ( min-width: 1200px) {
    /*#pricing .card {*/
    /*display: block;*/
    /*}*/
}

