#termly-plans-overview-of-all-classes-section {
    padding: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /*background-color: #f6f6ff;*/
    background: rgba(250, 250, 250, 0.45);
    border: 1px solid lightgrey;
}

.termly-plans-overview-school-name {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.termly-plans-overview-row {
    padding: 0.5rem;
    margin-bottom: 1rem;
    background: rgba(125, 125, 125, 0.15);
    border: 1px solid white;
}

.termly-plans-overview-headers {
    margin-bottom: 0.6rem;
}

.termly-plans-overview-datum {
    margin-bottom: 1.2rem;
}

.termly-plans-overview-section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.termly-plans-overview-section-header {
    margin-top: 2rem;
}

.termly-plans-overview-section-row {
    margin-bottom: 1.5rem;
}

.termly-plans-collapse-conatiner {
    max-width: 90%;
}

.termly-plans-group-row {
    margin-bottom: 1rem;
}

.termly-plans-es-and-os-section {
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
}

.termly-plans-es-and-os-subsection {
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
}

.termly-plans-es-and-os-code {
    font-size: smaller;
    font-weight: bold;
}

.termly-plans-es-and-os-content {
    font-size: small;
}

.termly-plans-es-and-os-header {
    font-weight: bold;
}

.termly-plans-eobenchmark-row {
    padding: 0.25rem 1rem;
}

#save-termly-groups-button {
    margin-top: 3rem;
    margin-bottom: 10rem;
}

#clear-termly-groups-button{
    margin-top: 3rem;
    margin-bottom: 10rem;
}

.termly-plans-es-and-os-code-and-eando-row {
    margin-bottom: 0.1rem;
}

.termly-plans-es-and-os-benchmark {
    margin-bottom: 0.1rem;
}