#view-class-plans-top-buttons {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: none;
}

.view-class-plans-todays-date {
    display: flex;
    float: right;
    color: #2a6495;
    margin-right: 5rem;
    font-size: smaller;
}

#view-class-plans-termly-plan-header {
    color: red;
    margin-top: 1.5rem;
}