/* ================= */
/*   Colours - START */
/* ================= */


.subject-writing, .subject-spelling, .subject-reading, .subject-hand-writing {
    background-color: rgba(20, 171, 20, 0.5);
    color: black;
    font-weight: bold;
}

.subject-empty {
    background-color: rgba(211, 211, 211, 0.5);
    font-weight: lighter;
    color: grey;
}

.subject-physical-education {
    background-color: rgba(255, 131, 46, 0.76);
    color: black;
    font-weight: bold;
}

.subject-teacher-covertime, .subject-soft-start, .subject-other, .subject-golden-time {
    background-color: rgba(171, 165, 188, 0.9);
    color: black;
    font-weight: bold;
}

.subject-health {
    background-color: rgba(255, 2, 3,0.8);
    color: black;
    font-weight: bold;
}

.subject-rme {
    background-color: rgba(255, 238, 116, 0.45);
    color: black;
    font-weight: bold;
}

.subject-drama, .subject-play, .subject-music, .subject-art {
    background-color: rgba(203, 148, 0, 0.69);
    color: black;
    font-weight: bold;
}

.subject-assembly {
    background-color: rgb(81, 93, 102);
    color: white;
    font-weight: bold;
}


.subject-topic {
    background-color: rgba(99, 5, 205, 0.55);
    color: black;
    font-weight: bold;
}

.subject-maths, .subject-numeracy {
    background-color: rgb(32, 211, 255);
    color: black;
    font-weight: bold;
}
.subject-science, .subject-ict {
    background-color: rgba(57, 157, 250,0.8);
    color: black;
    font-weight: bold;
}

.subject-geography, .subject-history, .subject-modern-languages {
    background-color: rgba(237, 72, 167, 0.71);
    color: black;
    font-weight: bold;
}



/* ================= */
/*   Colours - END */
/* ================= */
