#class-timetable-section .small-column  {
    /*width: 10px !important;*/
    /*max-width: 20px !important;*/
    /*padding-left: 0 !important;*/
    /*padding-right: 0 !important;*/
    font-size: smaller;
    color: #999;
}

.timetable-header {
    font-size: larger;
    text-shadow: 1px 1px #ccc;
}

.timetable-dayofweek-header {
    background: none;
    text-shadow: 1px 1px #ccc;
}
#class-timetable-section .dayoftheweek-row {
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
    min-height: 6rem;
}

#class-timetable-section .headline-row {
    text-align: center;
    min-height: 3rem;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.subject {
    min-height: 4rem;
    border-style: groove;
}

.teacher-cover {
    max-height: 2rem;
    border-style: groove;
}