#class-timetable-section {
    margin-top: 4rem;
    padding-bottom: 3rem;
}

#class-timetable-subject-nav {
    margin-top: 2rem;
}

#class-timetable-subject-nav h4 {
    color: rgba(104, 102, 255, 1);
    text-shadow: 1px 1px #fff;
    margin-bottom: 1rem;
}

.class-timetable-subject-nav-background {
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
    /*background: rgba(0, 0, 0, 0);*/
    background-color: #dcdcdc;
    border: 1px solid lightgrey;
    text-align: center;
    min-height: 6rem;
}

#class-timetable-section .small-column {
    font-size: smaller;
    color: grey;
    text-shadow: 1px 1px #efe;
}

.timetable-header {
    font-size: larger;
    color: grey;
    text-shadow: 1px 1px #efe;
}

.timetable-dayofweek-header {
    background: none;
    text-shadow: 1px 1px #ccc;
    font-size: medium;
}

#class-timetable-section .dayoftheweek-row {
    text-align: center;
    min-height: 6rem;
}

#class-timetable-section .headline-row {
    text-align: center;
    min-height: 1.5rem;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.subject {
    height: 5rem;
    border-style: groove;
    border-color: lightgrey;
}

.teacher-cover {
    max-height: 2rem;
    border-style: groove;
}

.timetable-time-row .col-sm-1,
.timetable-time-row .col-sm-2,
.timetable-time-row.col-sm-3,
.timetable-time-row .col-sm-4,
.timetable-time-row .col-sm-5,
.timetable-time-row.col-sm-6,
.timetable-time-row .col-sm-7,
.timetable-time-row .col-sm-8,
.timetable-time-row.col-sm-9,
.timetable-time-row .col-sm-10,
.timetable-time-row .col-sm-11,
.timetable-time-row.col-sm-12 {
    padding-left: 0;
!important;
    padding-right: 0;
!important;
}

.timetable-time {
    font-size: smaller;
    color: cornflowerblue;
}

.class-timetable-button {
    min-width: 100%;
}

.class-timetable-subject-row {
    margin-bottom: 0.25rem;
}

#addLessonsModalFooter {
    display: none;
}

@media screen and ( min-width: 991px) {
    #class-timetable-section .dayoftheweek-row {
        background: rgba(0, 0, 0, 0.05);
        text-align: center;
        min-height: 6rem;
    }

    .timetable-dayofweek-header {
        background: none;
        text-shadow: 1px 1px #ccc;
        font-size: small;
    }

}

@media screen and ( min-width: 1200px) {
    #class-timetable-section {
        margin-top: 4rem;
        padding-bottom: 13rem;
    }

}
