#weekly-planning-plan-this-week-button {
    /*margin-top: 1rem;*/
}

#weekly-planning-plan-status {

}

.template-weekly-planning-mondays-actual-monday-date-btn {
    background-color: ghostwhite;
    border-color: grey;
    color: grey;
    font-size: 0.7rem;
}

.happy-smiley-end-of-term {
    color: green;
}

.template-weekly-planning-mondays-in-term {
    margin-top: 1.5rem;
    font-size: 0.9rem;
}

.weekly-planning-top-margin {
    margin-top: 1.5rem;
}

.weekly-planning-lesson-start-time {
    font-size: xx-small;
    line-height: 5px;
    color: white;
    padding: 2px;
    text-shadow: 0 0;
}

.weekly-planning-lesson-end-time {
    font-size: xx-small;
    line-height: 5px;
    color: white;
    padding: 2px;
    text-shadow: 0 0;
}

.weekly-planning-lesson-time-subject {
    margin-left: 2px;
    margin-right: 2px;
    background: white;
    padding: 2px;
    border: 1px solid #d3d3d3;
    border-radius: 15%;
    font-size: xx-small;
    line-height: 5px;
    color: #0f0f0f;
    text-shadow: 0 0;
}

.weekly-plan-subject {
    /*border: 1px solid #e3e3e3;*/
    padding: 0.75rem;
}

.weekly-plan-subject-extent {
    padding-bottom: 2rem;
    background-color: rgba(230, 230, 230, 0.5);
}

.weekly-plan-subject-name {
    font-size: 0.9rem;
    font-weight: bold;
    padding-top: 0.2rem;
    color: black;
}

.weekly-plan-subject-additional-info {
    font-size: 1rem;
    font-weight: bold;
}

.weekly-plan-subject-activties-header {
    font-weight: bold;
    margin-top: 1rem;
    color: rgba(15, 15, 15, 0.82);
    font-size: 0.8rem;
}

.weekly-plan-subject-benchmarks-header {
    font-weight: bold;
    margin-top: 1rem;
    color: rgba(15, 15, 15, 0.82);
    font-size: 0.8rem;
}

ul {
    list-style-type: none;
    margin: 0 0 0 0.05rem;
    padding: 0;
}

.weekly-planning-individual-activity-wrapper{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    padding-top: 0.15rem;
    padding-left: 0.1rem;
    padding-bottom: 0.15rem;
    border: 1px solid #93b2cd;
    border-radius: 5px;

}

.weekly-planning-group-for-activity{
    margin-left: 0.15rem;
    margin-right: 0.15rem;
}

.weekly-planning-groups-for-activity {
    margin-top: 0.4rem;
    margin-left: 0.15rem;
}

.weekly-plan-subject-activities {
    color: rgba(15, 15, 15, 0.82);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.7rem;
}

.weekly-plan-subject-benchmarks {
    color: rgba(15, 15, 15, 0.82);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.7rem;
}

.weekly-plan-spacing-column {
    /*background-color: #f0f0f0*/
}

.single-eo-or-benchmark {
    margin-top: 0.3rem;
}

.weekly-plan-dayoftheweek {

}

.weekly-plan-dayoftheweek-specific-date {
    font-size: 0.8rem;
}

@media (max-width: 1400px) {
    .weekly-plan-dayoftheweek {
        font-size: 0.9rem;
    }

    .weekly-plan-dayoftheweek-specific-date {
        font-size: 0.7rem;
    }

    .weekly-plan-subject-name {
        font-size: 0.8rem;
    }

    .weekly-plan-subject-additional-info {
        font-size: 0.7rem;
    }

    .weekly-plan-subject-activties-header {
        font-size: 0.8rem;
    }

    .weekly-plan-subject-benchmarks-header {
        font-size: 0.8rem;
    }
}

@media (max-width: 990px) {
    .weekly-plan-dayoftheweek {
        word-wrap: break-word;
    }

    .weekly-plan-subject-name {
        word-wrap: break-word;
    }

    .weekly-plan-subject-additional-info {
        word-wrap: break-word;
    }

    .weekly-plan-subject-activties-header {
        word-wrap: break-word;
    }

    .weekly-plan-subject-benchmarks-header {
        white-space: normal;
        word-wrap: break-word;
    }

}
