.create-weekly-plans-section{
    padding-bottom: 10rem;
}

.create-weekly-plans-header {
    font-size: 1.9rem;
}

.create-weekly-plans-sub-header {
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.create-weekly-plans-main-section {

}

.create-weekly-plans-planning-area {
    margin-bottom: 4rem;
}

.create-weekly-plans-planning-area-header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.create-weekly-plans-planning-area-sub-header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.1rem;

    margin-bottom: 1rem;
}

.create-weekly-plans-group-level {
    text-transform: capitalize;
    font-weight: normal;
    letter-spacing: normal;

    font-size: 0.9rem;
}

.create-weekly-plans-es-os-and-benchmarks-window {
    padding: 1rem;
}