@import controllers.serviceproxies.TimeToTeachUserId
@(handler: be.objectify.deadbolt.scala.DeadboltHandler, userPictureUri: Option[String], userFirstName: Option[String], userFamilyName: Option[String], tttUserId: TimeToTeachUserId)

@timetoteachAppMain(handler, s"Add New Class",
 userPictureUri, userFirstName, userFamilyName) {
 <div class="container">

  <div class="add-new-class-form-section">

   <h6 class="text-center text-muted form-header">New Class Details</h6>

   <div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4 mx-auto" id="add-new-class-form-errors"></div>
    <div class="col-sm-4"></div>
   </div>

   <div class="form-row add-new-class-form-row">
    <div class="col-sm-3">
     <label class="add-new-class-label" for="className">Class Name</label>
     <input type="text" id="className" name="className" class="form-control" placeholder="Enter class name" required>
    </div>
    <div class="col-sm-9"></div>
   </div>

   <div class="form-row add-new-class-form-row">
    <div class="col-sm-12">
     <label class="add-new-class-desription-label" for="classDescription">Class Description</label>
     <input type="text" id="classDescription" name="classDescription" class="form-control" placeholder="Enter class description" required>
    </div>
   </div>


   <div class="form-row add-new-class-form-row">
    <div class="col-sm-12">
     <label class="add-new-class-label" for="add-new-class-groups-button">Class Groups</label>

     <div id="add-new-class-groups-div"></div>
     <button id="add-new-class-groups-button" type="button" class="btn btn-sm btn-outline-primary add-new-class-button">
      Add New Class Group</button>
    </div>
   </div>

   @*<div class="form-row add-new-class-form-row">*@
    @*<div class="col-sm-12">*@
     @*<label for="className">Class Teachers</label>*@

     @*<div id="add-new-class-teachers-div"></div>*@

     @*<button id="add-new-class-teachers-button" type="button" class="btn btn-sm btn-primary add-new-class-button">*@
      @*Invite or Add New Teacher</button>*@
    @*</div>*@
   @*</div>*@

   <div id="new-class-clear-cancel-save-buttons" class="clear-cancel-save-buttons">
    <button id="clear-subjects-from-new-class-button" type="button" class="btn btn btn-secondary">
     Clear</button>
    <button id="cancel-new-class-button" type="button" class="btn btn btn-secondary">
     <a href="@controllers.planning.classtimetable.routes.ClassTimetableController.classesHome()">Cancel</a>
    </button>
    <button id="save-new-class-button" type="button" class="btn btn btn-primary">Create New Class</button>
   </div>

  </div>
 </div>


 <script>
         localStorage.setItem("timeToTeachUserId", "@{tttUserId.value}");
 </script>

 @scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
}
