@import models.timetoteach.TimeToTeachUserId
@import models.timetoteach.ui.CLASS_SETUP
@import models.timetoteach.term.SchoolTerm
@(handler: be.objectify.deadbolt.scala.DeadboltHandler, userPictureUri: Option[String], userFirstName: Option[String], userFamilyName: Option[String], tttUserId: TimeToTeachUserId, classDetails: duplicate.model.ClassDetails,  currentTerm: SchoolTerm, todaysDate: java.time.LocalDate)

@timetoteachAppMain(handler, s"Class ${classDetails.className.name}",
    userPictureUri, userFirstName, userFamilyName, Some(classDetails), Some(CLASS_SETUP), None, None, Some(currentTerm), todaysDate) {

    <div class="in-app-menu-small-devices">
        <li class="nav-item nav-login-button">
            <a class="btn btn-outline-primary btn-block" role="button" href="@routes.Application.timeToTeachApp()">
                Dashboard</a>
        </li>

        <li class="nav-item nav-login-button">
            <a class="btn btn-outline-primary btn-block" role="button" href="@controllers.planning.classtimetable.routes.ClassTimetableController.classesHome()">
                My Classes</a>
        </li>

        <li class="nav-item nav-login-button">
            <a id="manage-class-goto-timetable" class="btn btn-outline-primary btn-block" role="button"
            href="@controllers.planning.classtimetable.routes.ClassTimetableController.classTimetable(classDetails.id.id)">
                Class Timetable</a>
        </li>

        <li class="nav-item nav-login-button">
            <a id="manage-class-goto-timetable" class="btn btn-outline-primary btn-block" role="button"
            href="@controllers.planning.termly.routes.TermlyPlansController.termlyPlansForClass(classDetails.id.id)">
                Termly Plans</a>
        </li>

        <li class="nav-item nav-login-button">
            <button id="manage-class-goto-timetable" type="button" class="btn btn-outline-primary  btn-block" disabled="true">
                Weekly Plans</button>
        </li>
    </div>
} {
    <li></li>
} {
    <div class="container">

        <div class="manage-class-form-section">

            <div class="manage-class-section">
                <div class="form-row manage-class-form-row">
                    <div class="col-lg-3 align-items-end d-flex align-bottom">
                        <label class="add-new-class-label text-muted" for="className">Class Name</label>
                        <input type="text" id="className" name="className" class="form-control form-control-sm editable-input-button"
                        placeholder="@classDetails.className.name" value="@classDetails.className.name" >
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-7 text-right">
                        <p><strong>@classDetails.schoolDetails.name</strong></p>
                        <p>@classDetails.schoolDetails.address</p>
                    </div>
                </div>

                <div class="form-row manage-class-form-row">
                    <div class="col-lg-12">
                        <label class="add-new-class-label text-muted" for="classDescription">Description</label>
                        <input type="text" id="classDescription" name="classDescription" class="form-control form-control-sm editable-input-button"
                        placeholder="@classDetails.classDescription.name" value="@classDetails.classDescription.name">
                    </div>
                </div>

                <div class="form-row add-new-class-form-row">
                    <div class="col-sm-12 col-lg-5">
                        <div class="text-center">
                            <label class="manage-class-desription-label manage-class-group-header">Maths Groups</label>
                        </div>
                        <div class="in-app-menu-medium-and-up">
                            <div class="row">
                                <div class="col-lg-3 text-muted"><small>Group</small></div>
                                <div class="col-lg-5 text-muted"><small>Description</small></div>
                                <div class="col-lg-2 text-muted"><small>Level</small></div>
                                <div class="col-lg-2"></div>
                            </div>
                        </div>
                        <div id="mathematics-groups-section">
                        @for(group <- classDetails.groups.sortBy(group => group.groupLevel)) {
                            @if(group.groupType.value.toLowerCase == "mathematics") {
                                <div class="manage-new-group-row">
                                    <div class="form-row manage-class-group-row" data-group-id="@group.groupId.id" data-group-type="mathematics">

                                        <div class="row in-app-menu-small-devices in-app-menu-small-devices-row">
                                            <div class="col-sm-12 text-muted"><small>Group Name</small></div>
                                            <div class="col-sm-12 ">
                                                <input type="text" name="groupName" class="form-control form-control-sm" disabled="true"
                                                placeholder="@group.groupName.name">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 in-app-menu-medium-and-up">
                                            <input id="group-name-@group.groupId.id" type="text" name="groupName" class="form-control form-control-sm editable-input-button"
                                            placeholder="@group.groupName.name" value="@group.groupName.name">
                                        </div>


                                        <div class="row in-app-menu-small-devices in-app-menu-small-devices-row">
                                            <div class="col-sm-12 text-muted"><small>Description</small></div>
                                            <div class="col-sm-12 ">
                                                <input type="text" name="groupDescription" class="form-control form-control-sm" disabled="true"
                                                placeholder="@group.groupDescription.name">
                                            </div>
                                        </div>
                                        <div class="col-lg-5 in-app-menu-medium-and-up">
                                            <input id="group-description-@group.groupId.id" type="text" name="groupDescription" class="form-control form-control-sm editable-input-button"
                                            placeholder="@group.groupDescription.name" value="@group.groupDescription.name">
                                        </div>


                                        <div class="row in-app-menu-small-devices in-app-menu-small-devices-row">
                                            <div class="col-sm-12 text-muted"><small>Level</small></div>
                                            <div class="col-sm-12 ">
                                                <input type="text" name="groupDescription" class="form-control form-control-sm" disabled="true"
                                                placeholder="@{
                                                    group.groupLevel.value.toLowerCase.capitalize.replace("level", "")
                                                }">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 in-app-menu-medium-and-up">
                                            <input id="group-level-@group.groupId.id" type="text" name="groupType" class="form-control form-control-sm" disabled="true"
                                            placeholder="@group.groupLevel.value.toLowerCase.capitalize.replace("level", "")">
                                        </div>

                                        <div class="row in-app-menu-small-devices in-app-menu-small-devices-row">
                                            <br>
                                            <div class="col-sm-6 ">
                                                <button id="manage-class-edit" type="button" class="btn btn-sm btn-info align-self-center mx-auto the-group-plans-button" disabled="true">
                                                    Group Plans
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 in-app-menu-medium-and-up">
                                            <button type="button" class="close delete-this-class-group" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            }
                        }
                        </div>
                        <div>
                            <button id="add-new-maths-groups-button" type="button" class="btn btn-success add-new-class-button">
                                Add New Maths Group</button>
                        </div>
                    </div>
                    <div class="col-lg-2 in-app-menu-medium-and-up"></div>
                    <div class="col-sm-12 col-lg-5 ">
                        <div class="text-center">
                            <label class="manage-class-desription-label manage-class-group-header">Reading Groups</label>
                        </div>
                        <div class="in-app-menu-medium-and-up">
                            <div class="row">
                                <div class="col-lg-3 text-muted"><small>Group</small></div>
                                <div class="col-lg-5 text-muted"><small>Description</small></div>
                                <div class="col-lg-2 text-muted"><small>Level</small></div>
                                <div class="col-lg-2"></div>
                            </div>
                        </div>

                        <div id="reading-groups-section">
                        @for(group <- classDetails.groups.sortBy(group => group.groupLevel)) {
                            @if(group.groupType.value.toLowerCase == "reading") {
                                <div class="manage-new-group-row">
                                    <div class="form-row manage-class-group-row" data-group-id="@group.groupId.id" data-group-type="reading">

                                        <div class="row in-app-menu-small-devices in-app-menu-small-devices-row">
                                            <div class="col-sm-12 text-muted"><small>Group Name</small></div>
                                            <div class="col-sm-12 ">
                                                <input type="text" name="groupName" class="form-control form-control-sm" disabled="true"
                                                placeholder="@group.groupName.name">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 in-app-menu-medium-and-up">
                                            <input id="group-name-@group.groupId.id" type="text" name="groupName" class="form-control form-control-sm editable-input-button"
                                            placeholder="@group.groupName.name" value="@group.groupName.name">
                                        </div>


                                        <div class="row in-app-menu-small-devices in-app-menu-small-devices-row">
                                            <div class="col-sm-12 text-muted"><small>Description</small></div>
                                            <div class="col-sm-12 ">
                                                <input type="text" name="groupDescription" class="form-control form-control-sm" disabled="true"
                                                placeholder="@{
                                                    group.groupDescription.name
                                                }">
                                            </div>
                                        </div>
                                        <div class="col-lg-5 in-app-menu-medium-and-up">
                                            <input id="group-description-@group.groupId.id" type="text" name="groupDescription" class="form-control form-control-sm editable-input-button"
                                            placeholder="@group.groupDescription.name" value="@group.groupDescription.name">
                                        </div>


                                        <div class="row in-app-menu-small-devices in-app-menu-small-devices-row">
                                            <div class="col-sm-12 text-muted"><small>Level</small></div>
                                            <div class="col-sm-12 ">
                                                <input type="text" name="groupDescription" class="form-control form-control-sm" disabled="true"
                                                placeholder="@{
                                                    group.groupLevel.value.toLowerCase.capitalize.replace("level", "")
                                                }">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 in-app-menu-medium-and-up">
                                            <input id="group-level-@group.groupId.id" type="text" name="groupType" class="form-control form-control-sm" disabled="true"
                                            placeholder="@group.groupLevel.value.toLowerCase.capitalize.replace("level", "")">
                                        </div>

                                        <div class="row in-app-menu-small-devices in-app-menu-small-devices-row">
                                            <br>
                                            <div class="col-sm-6 ">
                                                <button id="manage-class-edit" type="button" class="btn btn-info align-self-center mx-auto the-group-plans-button" disabled="true">
                                                    Group Plans
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 in-app-menu-medium-and-up">
                                            <button type="button" class="close  delete-this-class-group" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            }
                        }
                        </div>
                        <div>
                            <button id="add-new-reading-groups-button" type="button" class="btn btn-success add-new-class-button">
                                Add New Reading Group</button>
                        </div>
                    </div>
                </div>

                <div class="form-row add-new-class-form-row">
                    <div class="col-lg-6">

                    @if(classDetails.groups.count(aGroup => aGroup.groupLevel.value.toLowerCase == "other") > 0) {
                        <label class="manage-class-desription-label manage-class-group-header">Other Groups</label>
                        @for(group <- classDetails.groups.sortBy(group => group.groupLevel)) {
                            @if(group.groupType.value.toLowerCase == "other") {
                                <div class="form-row manage-class-group-row" data-group-id="@group.groupId.id" data-group-type="other">
                                    <div class="col-lg-6">
                                        <input type="text" name="groupName" class="form-control form-control-sm" disabled="true"
                                        placeholder="@{
                                            group.groupName.name
                                        }">
                                    </div>
                                    <div class="col-lg-4">
                                        <input id="group-level-@group.groupId.id" type="text" name="groupType" class="form-control form-control-sm" disabled="true"
                                        placeholder="@{
                                            group.groupLevel.value.toLowerCase.capitalize.replace("level", "")
                                        }">
                                    </div>
                                    @*<div class="col-lg-1">*@
                                    @*<button type="button" class="close delete-this-class-group" aria-label="Close">*@
                                    @*<span aria-hidden="true">&times;</span>*@
                                    @*</button>*@
                                    @*</div>*@
                                </div>
                            }
                        }
                    }
                    </div>
                </div>


                <div class="form-row add-new-class-form-row">
                    <div class="col-sm-12 col-lg-5">
                        <div class="text-center">
                            <label class="manage-class-desription-label manage-class-group-header">Writing Groups</label>
                        </div>
                        <div class="in-app-menu-medium-and-up">
                            <div class="row">
                                <div class="col-lg-3 text-muted"><small>Group</small></div>
                                <div class="col-lg-5 text-muted"><small>Description</small></div>
                                <div class="col-lg-2 text-muted"><small>Level</small></div>
                                <div class="col-lg-2"></div>
                            </div>
                        </div>
                        <div id="writing-groups-section">
                        @for(group <- classDetails.groups.sortBy(group => group.groupLevel)) {
                            @if(group.groupType.value.toLowerCase == "writing") {
                                <div class="manage-new-group-row">
                                    <div class="form-row manage-class-group-row" data-group-id="@group.groupId.id" data-group-type="writing">

                                        <div class="row in-app-menu-small-devices in-app-menu-small-devices-row">
                                            <div class="col-sm-12 text-muted"><small>Group Name</small></div>
                                            <div class="col-sm-12 ">
                                                <input type="text" name="groupName" class="form-control form-control-sm" disabled="true"
                                                placeholder="@{
                                                    group.groupName.name
                                                }">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 in-app-menu-medium-and-up">
                                            <input id="group-name-@group.groupId.id" type="text" name="groupName" class="form-control form-control-sm editable-input-button"
                                            placeholder="@group.groupName.name" value="@group.groupName.name">
                                        </div>


                                        <div class="row in-app-menu-small-devices in-app-menu-small-devices-row">
                                            <div class="col-sm-12 text-muted"><small>Description</small></div>
                                            <div class="col-sm-12 ">
                                                <input type="text" name="groupDescription" class="form-control form-control-sm" disabled="true"
                                                placeholder="@{
                                                    group.groupDescription.name
                                                }">
                                            </div>
                                        </div>
                                        <div class="col-lg-5 in-app-menu-medium-and-up">
                                            <input id="group-description-@group.groupId.id" type="text" name="groupDescription" class="form-control form-control-sm editable-input-button"
                                            placeholder="@group.groupDescription.name" value="@group.groupDescription.name">
                                        </div>


                                        <div class="row in-app-menu-small-devices in-app-menu-small-devices-row">
                                            <div class="col-sm-12 text-muted"><small>Level</small></div>
                                            <div class="col-sm-12 ">
                                                <input type="text" name="groupDescription" class="form-control form-control-sm" disabled="true"
                                                placeholder="@{
                                                    group.groupLevel.value.toLowerCase.capitalize.replace("level", "")
                                                }">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 in-app-menu-medium-and-up">
                                            <input id="group-level-@group.groupId.id" type="text" name="groupType" class="form-control form-control-sm" disabled="true"
                                            placeholder="@group.groupLevel.value.toLowerCase.capitalize.replace("level", "")">
                                        </div>

                                        <div class="row in-app-menu-small-devices in-app-menu-small-devices-row">
                                            <br>
                                            <div class="col-sm-6 ">
                                                <button type="button" class="close  delete-this-class-group" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 in-app-menu-medium-and-up">
                                            <button type="button" class="close  delete-this-class-group" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        </div>
                        <div>
                            <button id="add-new-writing-groups-button" type="button" class="btn btn-success add-new-class-button">
                                Add New Writing Group</button>
                        </div>
                    </div>
                    <div class="col-lg-2 in-app-menu-medium-and-up"></div>
                    <div class="col-sm-12 col-lg-5 ">
                        <div class="text-center">
                            <label class="manage-class-desription-label manage-class-group-header">Spelling Groups</label>
                        </div>
                        <div class="in-app-menu-medium-and-up">
                            <div class="row">
                                <div class="col-lg-3 text-muted"><small>Group</small></div>
                                <div class="col-lg-5 text-muted"><small>Description</small></div>
                                <div class="col-lg-2 text-muted"><small>Level</small></div>
                                <div class="col-lg-2"></div>
                            </div>
                        </div>

                        <div id="spelling-groups-section">
                        @for(group <- classDetails.groups) {
                            @if(group.groupType.value.toLowerCase == "spelling") {
                                <div class="manage-new-group-row">
                                    <div class="form-row manage-class-group-row" data-group-id="@group.groupId.id" data-group-type="spelling">

                                        <div class="row in-app-menu-small-devices in-app-menu-small-devices-row">
                                            <div class="col-sm-12 text-muted"><small>Group Name</small></div>
                                            <div class="col-sm-12 ">
                                                <input type="text" name="groupName" class="form-control form-control-sm" disabled="true"
                                                placeholder="@{
                                                    group.groupName.name
                                                }">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 in-app-menu-medium-and-up">
                                            <input id="group-name-@group.groupId.id" type="text" name="groupName" class="form-control form-control-sm editable-input-button"
                                            placeholder="@group.groupName.name" value="@group.groupName.name">
                                        </div>


                                        <div class="row in-app-menu-small-devices in-app-menu-small-devices-row">
                                            <div class="col-sm-12 text-muted"><small>Description</small></div>
                                            <div class="col-sm-12 ">
                                                <input type="text" name="groupDescription" class="form-control form-control-sm" disabled="true"
                                                placeholder="@{
                                                    group.groupDescription.name
                                                }">
                                            </div>
                                        </div>
                                        <div class="col-lg-5 in-app-menu-medium-and-up">
                                            <input id="group-description-@group.groupId.id" type="text" name="groupDescription" class="form-control form-control-sm editable-input-button"
                                            placeholder="@group.groupDescription.name" value="@group.groupDescription.name">
                                        </div>


                                        <div class="row in-app-menu-small-devices in-app-menu-small-devices-row">
                                            <div class="col-sm-12 text-muted"><small>Level</small></div>
                                            <div class="col-sm-12 ">
                                                <input type="text" name="groupDescription" class="form-control form-control-sm" disabled="true"
                                                placeholder="@{
                                                    group.groupLevel.value.toLowerCase.capitalize.replace("level", "")
                                                }">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 in-app-menu-medium-and-up">
                                            <input id="group-level-@group.groupId.id" type="text" name="groupType" class="form-control form-control-sm" disabled="true"
                                            placeholder="@group.groupLevel.value.toLowerCase.capitalize.replace("level", "")">
                                        </div>

                                        <div class="row in-app-menu-small-devices in-app-menu-small-devices-row">
                                            <br>
                                            <div class="col-sm-6 ">
                                                <button type="button" class="close  delete-this-class-group" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 in-app-menu-medium-and-up">
                                            <button type="button" class="close delete-this-class-group" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            }
                        }
                        </div>
                        <div>
                            <button id="add-new-spelling-groups-button" type="button" class="btn btn-success add-new-class-button">
                                Add New Spelling Group</button>
                        </div>
                    </div>
                </div>

                <div class="form-row add-new-class-form-row">
                    <div class="col-lg-6">

                    @if(classDetails.groups.count(aGroup => aGroup.groupLevel.value.toLowerCase == "other") > 0) {
                        <label class="manage-class-desription-label manage-class-group-header">Other Groups</label>
                        @for(group <- classDetails.groups) {
                            @if(group.groupType.value.toLowerCase == "other") {
                                <div class="form-row manage-class-group-row" data-group-id="@group.groupId.id" data-group-type="other">
                                    <div class="col-lg-6">
                                        <input type="text" name="groupName" class="form-control form-control-sm" disabled="true"
                                        placeholder="@{
                                            group.groupName.name
                                        }">
                                    </div>
                                    <div class="col-lg-4">
                                        <input id="group-level-@group.groupId.id" type="text" name="groupType" class="form-control form-control-sm" disabled="true"
                                        placeholder="@{
                                            group.groupLevel.value.toLowerCase.capitalize.replace("level", "")
                                        }">
                                    </div>
                                    @*<div class="col-lg-1">*@
                                    @*<button type="button" class="close delete-this-class-group" aria-label="Close">*@
                                    @*<span aria-hidden="true">&times;</span>*@
                                    @*</button>*@
                                    @*</div>*@
                                </div>
                            }
                        }
                    }
                    </div>
                </div>

            </div>
        </div>

        <div class="modal" id="addNewGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addNewGroupModalHeader">
                            Add New [GROUP_TYPE] Group</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="addNewGroupModalBody" class="modal-body">
                        <div id="addNewGroupModalBodyErrorsDiv">
                            <div id="addNewGroupModalBodyErrorsAlert"></div>
                        </div>

                        <div class="add-new-group-modal-row">
                            <input type := "text" class = "form-control" id = "add-group-name" name="add-group-name"
                            placeholder = "Enter group name">
                        </div>
                        <div class="add-new-group-modal-row">
                            <input type := "text" class = "form-control" id = "add-group-description" name="add-group-description"
                            placeholder = "Enter group description">
                        </div>
                        <div class="add-new-group-modal-row">
                            <select id="select-curriculum-level" name="select-curriculum-level" class="btn btn-outline-info">
                                <option value="Select">Select Curriculum Level ...</option>
                                <option value="Early">Early</option>
                                <option value="First">First</option>
                                <option value="Second">Second</option>
                                <option value="Third">Third</option>
                                <option value="Fourth">Fourth</option>
                            </select>
                        </div>

                        <div class="add-new-group-modal-save d-flex justify-content-center">
                            <button id="add-new-groups-save-button" type="button" class="btn btn btn-primary add-new-class-button">
                                Add Group</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div id="save-class-edit-changes-div" class="d-flex justify-content-end" >*@
        @*<button id="save-class-edit-changes-button" type="button" class="btn btn-lg btn-primary" disabled="true">*@
        @*Save Changes</button>*@
        @*</div>*@

    </div>

    <script>
            localStorage.setItem("timeToTeachUserId", "@{tttUserId.value}");
            localStorage.setItem("classId", "@{classDetails.id.id}");
    </script>

    <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
            $(function () {
                $('[data-toggle="popover"]').popover();
            });
    </script>

    @scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
}
