@import controllers.serviceproxies.TimeToTeachUserId
@(handler: be.objectify.deadbolt.scala.DeadboltHandler, userPictureUri: Option[String], userFirstName: Option[String], userFamilyName: Option[String], tttUserId: TimeToTeachUserId, classDetails: duplicate.model.ClassDetails)

@timetoteachAppMain(handler, s"Manage Class - " + classDetails.className.name,
    userPictureUri, userFirstName, userFamilyName) {

    <div class="in-app-menu-small-devices">
        <li class="nav-item nav-login-button">
            <a class="btn btn-outline-primary btn-block" role="button" href="@routes.Application.timeToTeachApp()">
                Dashboard</a>
        </li>

        <li class="nav-item nav-login-button">
            <a class="btn btn-outline-primary btn-block" role="button" href="@controllers.planning.classtimetable.routes.ClassTimetableController.classesHome()">
                Classes Home</a>
        </li>

        <li class="nav-item nav-login-button">
            <a id="manage-class-goto-timetable" class="btn btn-outline-primary btn-block" role="button"
            href="@controllers.planning.classtimetable.routes.ClassTimetableController.classTimetable(classDetails.id.id)">
                Class Timetable</a>
        </li>

        <li class="nav-item nav-login-button">
            <a id="manage-class-goto-timetable" class="btn btn-outline-primary btn-block" role="button"
            href="@controllers.planning.termly.routes.TermlyPlansController.termlyPlansForClass(classDetails.id.id)">
                Termly Plans</a>
        </li>

        <li class="nav-item nav-login-button">
            <button id="manage-class-goto-timetable" type="button" class="btn btn-outline-primary  btn-block" disabled="true">
                Weekly Plans</button>
        </li>
    </div>
} {
    <div class="container">

        <div class="manage-class-form-section">

            <div class="in-app-menu-medium-and-up">
                <div class="d-flex ">
                    <ul class="nav mr-auto justify-content-between">
                        <li class="nav-item manage-class-nav-item-leftmost">
                            <a class="btn btn-outline-primary" role="button" href="@routes.Application.timeToTeachApp()">
                                Dashboard</a>
                        </li>

                        <li class="nav-item manage-class-nav-item-on-left">
                            <a class="btn btn-outline-primary" role="button" href="@controllers.planning.classtimetable.routes.ClassTimetableController.classesHome()">
                                Classes Home</a>
                        </li>

                        <li class="nav-item manage-class-nav-item-on-left">
                            <a id="manage-class-goto-timetable" class="btn btn-info" role="button"
                            href="@controllers.planning.classtimetable.routes.ClassTimetableController.classTimetable(classDetails.id.id)">
                                Class Timetable</a>
                        </li>

                        <li class="nav-item manage-class-nav-item-on-left">
                            <a class="btn btn-info" role="button"
                            href="@controllers.planning.termly.routes.TermlyPlansController.termlyPlansForClass(classDetails.id.id)">
                                Termly Plans</a>
                        </li>

                        <li class="nav-item manage-class-nav-item-on-left">
                            <button id="manage-class-goto-timetable" type="button" class="btn btn-info" disabled="true">
                                Weekly Plans</button>
                        </li>

                    </ul>

                    <ul class="nav justify-content-end">
                        <li class="nav-item manage-class-nav-item-on-right">
                            <button id="manage-class-edit" type="button" class="btn btn-info" disabled="true">
                                Edit Class</button>
                        </li>

                        <li class="nav-item manage-class-nav-item-rightmost">
                            <button id="manage-class-delete" type="button" class="btn btn-danger" disabled="true">
                                Delete Class</button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="manage-class-section">
                <div class="form-row manage-class-form-row">
                    <div class="col-lg-3">
                        <label class="add-new-class-label text-muted" for="className">Name</label>
                        <input type="text" id="className" name="className" class="form-control form-control-sm" disabled="true"
                        placeholder="@{
                            classDetails.className.name
                        }">
                    </div>
                    <div class="col-lg-9"></div>
                </div>

                <div class="form-row manage-class-form-row">
                    <div class="col-lg-12">
                        <label class="add-new-class-label text-muted" for="classDescription">Description</label>
                        <input type="text" id="classDescription" name="classDescription" class="form-control form-control-sm" disabled="true"
                        placeholder="@{
                            classDetails.classDescription.name
                        }">
                    </div>
                </div>

                <div class="form-row add-new-class-form-row">
                    <div class="col-sm-12 col-lg-5">
                        <div class="text-center">
                            <label class="manage-class-desription-label manage-class-group-header">Maths Groups</label>
                        </div>
                        <div class="in-app-menu-medium-and-up">
                            <div class="row">
                                <div class="col-lg-3 text-muted"><small>Group</small></div>
                                <div class="col-lg-5 text-muted"><small>Description</small></div>
                                <div class="col-lg-2 text-muted"><small>Level</small></div>
                                <div class="col-lg-2"></div>
                            </div>
                        </div>
                        @for(group <- classDetails.groups) {
                            @if(group.groupType.value.toLowerCase == "maths") {
                                <div class="manage-new-group-row">
                                    <div class="form-row manage-class-group-row">

                                        <div class="row in-app-menu-small-devices in-app-menu-small-devices-row">
                                            <div class="col-sm-12 text-muted"><small>Group Name</small></div>
                                            <div class="col-sm-12 ">
                                                <input type="text" name="groupName" class="form-control form-control-sm" disabled="true"
                                                placeholder="@{
                                                    group.groupName.name
                                                }">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 in-app-menu-medium-and-up">
                                            <input type="text" name="groupName" class="form-control form-control-sm" disabled="true"
                                            placeholder="@{
                                                group.groupName.name
                                            }">
                                        </div>


                                        <div class="row in-app-menu-small-devices in-app-menu-small-devices-row">
                                            <div class="col-sm-12 text-muted"><small>Description</small></div>
                                            <div class="col-sm-12 ">
                                                <input type="text" name="groupDescription" class="form-control form-control-sm" disabled="true"
                                                placeholder="@{
                                                    group.groupDescription.name
                                                }">
                                            </div>
                                        </div>
                                        <div class="col-lg-5 in-app-menu-medium-and-up">
                                            <input type="text" name="groupDescription" class="form-control form-control-sm" disabled="true"
                                            placeholder="@{
                                                group.groupDescription.name
                                            }">
                                        </div>


                                        <div class="row in-app-menu-small-devices in-app-menu-small-devices-row">
                                            <div class="col-sm-12 text-muted"><small>Level</small></div>
                                            <div class="col-sm-12 ">
                                                <input type="text" name="groupDescription" class="form-control form-control-sm" disabled="true"
                                                placeholder="@{
                                                    group.groupLevel.value.toLowerCase.capitalize.replace("level", "")
                                                }">
                                            </div>
                                        </div>
                                        <div class="col-lg-2 in-app-menu-medium-and-up">
                                            <input type="text" name="groupType" class="form-control form-control-sm" disabled="true"
                                            placeholder="@group.groupLevel.value.toLowerCase.capitalize.replace("level", "")">
                                        </div>

                                        <div class="row in-app-menu-small-devices in-app-menu-small-devices-row">
                                            <br>
                                            <div class="col-sm-6 ">
                                                <button id="manage-class-edit" type="button" class="btn btn-sm btn-info align-self-center mx-auto the-group-plans-button" disabled="true">
                                                    Group Plans
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 in-app-menu-medium-and-up">
                                            <button id="manage-class-edit" type="button" class="btn btn-sm btn-info" disabled="true">
                                                Plans
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="col-lg-2 in-app-menu-medium-and-up"></div>
                    <div class="col-sm-12 col-lg-5 ">
                        <div class="text-center">
                            <label class="manage-class-desription-label manage-class-group-header">Literacy Groups</label>
                        </div>
                        <div class="in-app-menu-medium-and-up">
                            <div class="row">
                                <div class="col-lg-3 text-muted"><small>Group</small></div>
                                <div class="col-lg-5 text-muted"><small>Description</small></div>
                                <div class="col-lg-2 text-muted"><small>Level</small></div>
                                <div class="col-lg-2"></div>
                            </div>
                        </div>

                        @for(group <- classDetails.groups) {
                            @if(group.groupType.value.toLowerCase == "literacy") {
                                <div class="manage-new-group-row">
                                    <div class="form-row manage-class-group-row">

                                        <div class="row in-app-menu-small-devices in-app-menu-small-devices-row">
                                            <div class="col-sm-12 text-muted"><small>Group Name</small></div>
                                            <div class="col-sm-12 ">
                                                <input type="text" name="groupName" class="form-control form-control-sm" disabled="true"
                                                placeholder="@{
                                                    group.groupName.name
                                                }">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 in-app-menu-medium-and-up">
                                            <input type="text" name="groupName" class="form-control form-control-sm" disabled="true"
                                            placeholder="@{
                                                group.groupName.name
                                            }">
                                        </div>


                                        <div class="row in-app-menu-small-devices in-app-menu-small-devices-row">
                                            <div class="col-sm-12 text-muted"><small>Description</small></div>
                                            <div class="col-sm-12 ">
                                                <input type="text" name="groupDescription" class="form-control form-control-sm" disabled="true"
                                                placeholder="@{
                                                    group.groupDescription.name
                                                }">
                                            </div>
                                        </div>
                                        <div class="col-lg-5 in-app-menu-medium-and-up">
                                            <input type="text" name="groupDescription" class="form-control form-control-sm" disabled="true"
                                            placeholder="@{
                                                group.groupDescription.name
                                            }">
                                        </div>


                                        <div class="row in-app-menu-small-devices in-app-menu-small-devices-row">
                                            <div class="col-sm-12 text-muted"><small>Level</small></div>
                                            <div class="col-sm-12 ">
                                                <input type="text" name="groupDescription" class="form-control form-control-sm" disabled="true"
                                                placeholder="@{
                                                    group.groupLevel.value.toLowerCase.capitalize.replace("level", "")
                                                }">
                                            </div>
                                        </div>
                                        <div class="col-lg-2 in-app-menu-medium-and-up">
                                            <input type="text" name="groupType" class="form-control form-control-sm" disabled="true"
                                            placeholder="@group.groupLevel.value.toLowerCase.capitalize.replace("level", "")">
                                        </div>

                                        <div class="row in-app-menu-small-devices in-app-menu-small-devices-row">
                                            <br>
                                            <div class="col-sm-6 ">
                                                <button id="manage-class-edit" type="button" class="btn btn-sm btn-info align-self-center mx-auto the-group-plans-button" disabled="true">
                                                    Group Plans
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 in-app-menu-medium-and-up">
                                            <button id="manage-class-edit" type="button" class="btn btn-sm btn-info" disabled="true">
                                                Plans
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>

                <div class="form-row add-new-class-form-row">
                    <div class="col-lg-6">

                    @if(classDetails.groups.count(aGroup => aGroup.groupLevel.value.toLowerCase == "other") > 0) {
                        <label class="manage-class-desription-label manage-class-group-header">Other Groups</label>
                        @for(group <- classDetails.groups) {
                            @if(group.groupType.value.toLowerCase == "other") {
                                <div class="form-row manage-class-group-row">
                                    <div class="col-lg-6">
                                        <input type="text" name="groupName" class="form-control form-control-sm" disabled="true"
                                        placeholder="@{
                                            group.groupName.name
                                        }">
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" name="groupType" class="form-control form-control-sm" disabled="true"
                                        placeholder="@{
                                            group.groupLevel.value.toLowerCase.capitalize.replace("level", "")
                                        }">
                                    </div>
                                    @*<div class="col-lg-1">*@
                                    @*<button type="button" class="close" aria-label="Close">*@
                                    @*<span aria-hidden="true">&times;</span>*@
                                    @*</button>*@
                                    @*</div>*@
                                </div>
                            }
                        }
                    }
                    </div>
                </div>


            </div>
        </div>
    </div>


    @scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
}
