@import be.objectify.deadbolt.scala.AuthenticatedRequest
@import models.timetoteach.TimeToTeachUserId
@import models.timetoteach.planning.ScottishCurriculumPlanningAreaWrapper
@import models.timetoteach.ui.CLASS_TERMLY_PLANS
@import models.timetoteach.planning.TermlyCurriculumSelection
@import models.timetoteach.term.SchoolTerm
@(handler: be.objectify.deadbolt.scala.DeadboltHandler, userPictureUri: Option[String], userFirstName: Option[String], userFamilyName: Option[String], tttUserId: TimeToTeachUserId, classDetails: duplicate.model.ClassDetails, planningAreas: List[ScottishCurriculumPlanningAreaWrapper], postSelectedCurriculumAreasUrl: Call, theForm: Form[controllers.planning.termly.TermlyPlansControllerFormHelper.CurriculumAreaSelectionData], currentTermlyCurriculumSelection: TermlyCurriculumSelection, currentTerm: SchoolTerm, todaysDate: java.time.LocalDate)(implicit request: AuthenticatedRequest[Any])

@timetoteachAppMain(handler, s"Class ${classDetails.className.name}",
    userPictureUri, userFirstName, userFamilyName, Some(classDetails), Some(CLASS_TERMLY_PLANS), Some(currentTermlyCurriculumSelection, "NONE"), None, Some(currentTerm), todaysDate) {
    <div class="in-app-menu-small-devices">
        <li class="nav-item nav-login-button">
            <a class="btn btn-outline-primary btn-block" role="button"
            href="@controllers.planning.classtimetable.routes.ClassTimetableController.manageClass(classDetails.id.id)">
                Manage @classDetails.className.name</a>
        </li>

        <li class="nav-item nav-login-button">
            <a id="manage-class-goto-timetable" class="btn btn-outline-primary btn-block" role="button"
            href="@controllers.planning.classtimetable.routes.ClassTimetableController.classTimetable(classDetails.id.id)">
                Class Timetable</a>
        </li>

    </div>
}{
    <li></li>
} {
    <div class="container">

        <div class="text-center termly-plans-select-curriculum-areas-header">
            <h5>Please select the curriculum areas you wish to plan for this term</h5>
        </div>

        <form action="@postSelectedCurriculumAreasUrl.url" method="post" id="needs-validation" novalidate>
            @helper.CSRF.formField
            <div class="row">
                <div class="termly-plans-fieldset termly-plans-fieldset-expressive-arts">
                    <fieldset>
                        <legend>Expressive Arts</legend>
                        <div class="row">
                        @for(area <- planningAreas) {
                            @if(area.isCompositeValue && area.niceHeaderValueIfPresent().getOrElse("NONE") == "Expressive Arts") {
                                @if(area.niceSpecificValueIfPresent().getOrElse(area.niceValue()) != "Dance") {
                                    <div class="col">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input id="@area.value.toString" name="@area.value.toString" type="checkbox" class="custom-control-input" value="On">
                                                <input name="@area.value.toString" type="hidden" value="Off">
                                                <label class="custom-control-label" for="@area.value.toString">
                                                @if(area.isCompositeValue) {
                                                    <span class="custom-control-description">@area.niceSpecificValueIfPresent().getOrElse(area.niceValue())</span>
                                                } else {
                                                    <span class="custom-control-description">@area.niceValue</span>
                                                }
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        </div>
                    </fieldset>
                </div>


                <div class="termly-plans-fieldset termly-plans-fieldset-health-and-wellbeing">
                    <fieldset>
                        <legend>Health and Wellbeing</legend>
                        <div class="row">
                        @for(area <- planningAreas) {
                            @if(area.niceHeaderValueIfPresent().getOrElse("NONE") == "Health And Wellbeing" || area.niceValue() == "Health And Wellbeing") {
                                <div class="col">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox" data-toggle="tooltip" data-placement="top" title="These Es&Os/Benchmarks not in the database yet">
                                            <input id="@area.value.toString" name="@area.value.toString" type="checkbox" class="custom-control-input" value="On" disabled>
                                            <input name="@area.value.toString" type="hidden" value="Off">
                                            <label class="custom-control-label" for="@area.value.toString">
                                            @if(area.isCompositeValue) {
                                                <span class="custom-control-description">@area.niceSpecificValueIfPresent().getOrElse(area.niceValue())</span>
                                            } else {
                                                <span class="custom-control-description">@area.niceValue</span>
                                            }
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        </div>
                    </fieldset>
                </div>

                <div class="termly-plans-fieldset termly-plans-fieldset-literacy">
                    <fieldset>
                        <legend>Literacy</legend>
                        <div class="row">
                        @for(area <- planningAreas) {
                            @if(area.isCompositeValue && area.niceHeaderValueIfPresent().getOrElse("NONE") == "Literacy") {
                                @if(area.niceSpecificValueIfPresent().getOrElse("NONE") != "Literacy And English") {
                                    <div class="col">
                                        <div class="form-group">

                                            @if(area.niceValue() == "Literacy : Writing" || area.niceValue() == "Literacy : Reading") {
                                                <div class="custom-control custom-checkbox">
                                                    <input id="@area.value.toString" name="@area.value.toString" type="checkbox" class="custom-control-input" value="On">
                                                    <input name="@area.value.toString" type="hidden" value="Off">
                                                    <label class="custom-control-label" for="@area.value.toString">
                                                    @if(area.isCompositeValue) {
                                                        <span class="custom-control-description">@area.niceSpecificValueIfPresent().getOrElse(area.niceValue())</span>
                                                    } else {
                                                        <span class="custom-control-description">@area.niceValue</span>
                                                    }
                                                </div>
                                            }else {
                                                <div class="custom-control custom-checkbox" data-toggle="tooltip" data-placement="top" title="These Es&Os/Benchmarks not in the database yet">
                                                    <input id="@area.value.toString" name="@area.value.toString" type="checkbox" class="custom-control-input" value="On" disabled>
                                                    <input name="@area.value.toString" type="hidden" value="Off">
                                                    <label class="custom-control-label" for="@area.value.toString">
                                                    @if(area.isCompositeValue) {
                                                        <span class="custom-control-description">@area.niceSpecificValueIfPresent().getOrElse(area.niceValue())</span>
                                                    } else {
                                                        <span class="custom-control-description">@area.niceValue</span>
                                                    }
                                                </div>
                                            }

                                        </div>
                                    </div>
                                }
                            }
                        }
                        </div>
                    </fieldset>
                </div>

                <div class="termly-plans-fieldset termly-plans-fieldset-maths">
                    <fieldset>
                        <legend>Mathematics</legend>
                        @for(area <- planningAreas) {
                            @if(area.isNotCompositeValue && area.niceValue() == "Mathematics") {
                                <div class="col">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input id="@area.value.toString" name="@area.value.toString" type="checkbox" class="custom-control-input" value="On">
                                            <input name="@area.value.toString" type="hidden" value="Off">
                                            <label class="custom-control-label" for="@area.value.toString">
                                            @if(area.isCompositeValue) {
                                                <span class="custom-control-description">@area.niceSpecificValueIfPresent().getOrElse(area.niceValue())</span>
                                            } else {
                                                <span class="custom-control-description">@area.niceValue</span>
                                            }
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                    </fieldset>
                </div>

                <div class="termly-plans-fieldset termly-plans-fieldset-rme">
                    <fieldset>
                        <legend>Religious and Moral Education</legend>
                        <div class="row">
                        @for(area <- planningAreas) {
                            @if(area.isCompositeValue && area.niceHeaderValueIfPresent().getOrElse("NONE") == "RME") {
                                <div class="col">
                                    <div class="form-group">
                                        <label class="custom-control custom-checkbox" data-toggle="tooltip" data-placement="top" title="These Es&Os/Benchmarks not in the database yet">
                                            <input id="@area.value.toString" name="@area.value.toString" type="checkbox" class="custom-control-input" value="On" disabled>
                                            <input name="@area.value.toString" type="hidden" value="Off">
                                            <label class="custom-control-label" for="@area.value.toString">
                                            @if(area.isCompositeValue) {
                                                <span class="custom-control-description">@area.niceSpecificValueIfPresent().getOrElse(area.niceValue())</span>
                                            } else {
                                                <span class="custom-control-description">@area.niceValue</span>
                                            }
                                        </label>
                                    </div>
                                </div>

                            }
                        }
                        </div>
                    </fieldset>
                </div>

                <div class="termly-plans-fieldset termly-plans-fieldset-science">
                    <fieldset>
                        <legend>Sciences</legend>
                        @for(area <- planningAreas) {
                            @if(area.isNotCompositeValue && area.niceValue() == "Science") {
                                <div class="col">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox" data-toggle="tooltip" data-placement="top" title="These Es&Os/Benchmarks not in the database yet">
                                            <input id="@area.value.toString" name="@area.value.toString" type="checkbox" class="custom-control-input" value="On" disabled>
                                            <input name="@area.value.toString" type="hidden" value="Off">
                                            <label class="custom-control-label" for="@area.value.toString">
                                            @if(area.isCompositeValue) {
                                                <span class="custom-control-description">@area.niceSpecificValueIfPresent().getOrElse(area.niceValue())</span>
                                            } else {
                                                <span class="custom-control-description">@area.niceValue</span>
                                            }
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                    </fieldset>
                </div>

                <div class="termly-plans-fieldset termly-plans-fieldset-social-studies">
                    <fieldset>
                        <legend>Social Studies</legend>
                        @for(area <- planningAreas) {
                            @if(area.isNotCompositeValue && area.niceValue() == "Social Studies") {
                                <div class="col">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox" data-toggle="tooltip" data-placement="top" title="These Es&Os/Benchmarks not in the database yet">
                                            <input id="@area.value.toString" name="@area.value.toString" type="checkbox" class="custom-control-input" value="On" disabled>
                                            <input name="@area.value.toString" type="hidden" value="Off">
                                            <label class="custom-control-label" for="@area.value.toString">
                                            @if(area.isCompositeValue) {
                                                <span class="custom-control-description">@area.niceSpecificValueIfPresent().getOrElse(area.niceValue())</span>
                                            } else {
                                                <span class="custom-control-description">@area.niceValue</span>
                                            }
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                    </fieldset>
                </div>

                <div class="termly-plans-fieldset termly-plans-fieldset-technologies">
                    <fieldset>
                        <legend>Technologies</legend>
                        @for(area <- planningAreas) {
                            @if(area.isNotCompositeValue && area.niceValue() == "Technologies") {
                                <div class="col">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox" data-toggle="tooltip" data-placement="top" title="These Es&Os/Benchmarks not in the database yet">
                                            <input id="@area.value.toString" name="@area.value.toString" type="checkbox" class="custom-control-input" value="On" disabled>
                                            <input name="@area.value.toString" type="hidden" value="Off">
                                            <label class="custom-control-label" for="@area.value.toString">
                                            @if(area.isCompositeValue) {
                                                <span class="custom-control-description">@area.niceSpecificValueIfPresent().getOrElse(area.niceValue())</span>
                                            } else {
                                                <span class="custom-control-description">@area.niceValue</span>
                                            }
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                    </fieldset>
                </div>

            </div>


            <input type="text" class="custom-control-input" id="classId" name="classId" value="@classDetails.id.id">

            <div class="form-submit-button text-center">
                <button id="termly-plans-submit-button" type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </form>


    </div>


    <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
            $(function () {
                $('[data-toggle="popover"]').popover();
            });
    </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" crossorigin="anonymous"></script>
    @scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
}
