@import models.timetoteach.TimeToTeachUserId
@import models.timetoteach.planning.{CurriculumPlanProgressForClass, TermlyCurriculumSelection}
@import models.timetoteach.ui.CLASS_TERMLY_PLANS
@import duplicate.model.ClassId
@(handler: be.objectify.deadbolt.scala.DeadboltHandler, userPictureUri: Option[String], userFirstName: Option[String], userFamilyName: Option[String], tttUserId: TimeToTeachUserId, classDetails: duplicate.model.ClassDetails, currentTermlyCurriculumSelection: TermlyCurriculumSelection, maybeCurriculumPlanProgress: Option[CurriculumPlanProgressForClass], classIdToOverallProgress: Map[ClassId, Int])

@timetoteachAppMain(handler, s"Class ${classDetails.className.name}",
    userPictureUri, userFirstName, userFamilyName, Some(classDetails.id.id), Some(CLASS_TERMLY_PLANS), Some(currentTermlyCurriculumSelection,"NONE"), maybeCurriculumPlanProgress) {
    <div class="in-app-menu-small-devices">
        <li class="nav-item nav-login-button">
            <a class="btn btn-outline-primary btn-block" role="button" href="@routes.Application.timeToTeachApp()">
                Dashboard</a>
        </li>

        <li class="nav-item nav-login-button ">
            <a class="btn btn-outline-primary btn-block" role="button" href="@controllers.planning.termly.routes.TermlyPlansController.termlyPlans()">
                Termly Plans Home</a>
        </li>

        <li class="nav-item nav-login-button">
            <a class="btn btn-outline-primary btn-block" role="button"
            href="@controllers.planning.classtimetable.routes.ClassTimetableController.manageClass(classDetails.id.id)">
                Manage @classDetails.className.name</a>
        </li>

        <li class="nav-item nav-login-button">
            <a id="manage-class-goto-timetable" class="btn btn-outline-primary btn-block" role="button"
            href="@controllers.planning.classtimetable.routes.ClassTimetableController.classTimetable(classDetails.id.id)">
                Class Timetable</a>
        </li>

    </div>
}{
    <li></li>
} {
    <div class="container">

        <div class="termly-plans-overview-section text-center">
            <h6 class="termly-plans-overview-section-header">% Overall Plan Progress</h6>
            <div class="progress">
            @{
                if(classIdToOverallProgress.isDefinedAt(classDetails.id)) {
                    defining(classIdToOverallProgress(classDetails.id) + "%") { overallProgressPercent =>
                        defining(s"width: $overallProgressPercent") { theWidth =>
                            defining(if(overallProgressPercent == "100%") "progress-bar progress-bar-striped bg-success" else "progress-bar progress-bar-striped bg-warning") { progressBackground =>
                                <div class={progressBackground} role="progressbar"
                                style={theWidth} aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                <strong>{overallProgressPercent}</strong>
                                </div>
                            }
                        }
                    }
                } else {
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                }
            }
            </div>


            <div id="termly-plans-overview-of-all-classes-section">

                <h6 class="termly-plans-overview-section-header">Current Curriculum Status</h6>

                <div class="in-app-menu-medium-and-up">
                    <div class="termly-plans-summary">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-3 text-right"><small class="text-muted">Curriculum Area</small></div>
                            <div class="col-lg-2"></div>
                            <div class="col-lg-4"><small class="text-muted">Plan Progress</small></div>
                            <div class="col-lg-2"></div>
                        </div>
                    </div>
                </div>

                @for((curriculumAreaToPlan, index) <- currentTermlyCurriculumSelection.planningAreasWrapped.sortBy(area => area.niceSpecificValueIfPresent().getOrElse(area.niceValue())).zipWithIndex) {
                    <div class="termly-plans-overview-section-div">
                        <div class="row termly-plans-overview-section-row d-flex justify-content-center">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-3 text-right text-dark">

                                @curriculumAreaToPlan.niceSpecificValueIfPresent().getOrElse(curriculumAreaToPlan.niceValue())

                            </div>
                            <div class="col-lg-2"></div>
                            @{
                                if(maybeCurriculumPlanProgress.getOrElse(CurriculumPlanProgressForClass(Map())).curriculumProgressMap.isDefinedAt(curriculumAreaToPlan)) {
                                    defining({
                                        maybeCurriculumPlanProgress.getOrElse(CurriculumPlanProgressForClass(Map())).curriculumProgressMap(curriculumAreaToPlan)._1.percentValue.toString
                                    } + "%") { overallPercent =>
                                        defining(s"width: $overallPercent") { theWidth =>
                                            defining(if(overallPercent == "100%") "progress-bar progress-bar-striped bg-success" else "progress-bar progress-bar-striped bg-warning") { progressBackground =>
                                                <div class="col-xs-3 col-lg-4">
                                                <div class="progress">
                                                <div class={progressBackground} role="progressbar"
                                                style={theWidth} aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">
                                                <strong>{overallPercent}</strong>
                                                </div>
                                                </div>
                                                </div>
                                            }
                                        }
                                    }
                                } else {
                                        <div class="col-lg-4">
                                        <div class="progress">
                                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        <span><strong>0%</strong></span>
                                        </div>
                                        </div>
                                }
                            }
                            <div class="col-lg-2"></div>
                        </div>

                        <div class="termly-plans-collapse-container">
                            <div class="collapse mx-auto" id="collapseClassGroup-@index">
                                <div class="card card-body">
                                    @if(curriculumAreaToPlan.planAtGroupLevel) {
                                        <div class="in-app-menu-medium-and-up">
                                            <div class="termly-plans-overview-headers">
                                                <div class="row">
                                                    <div class="col-lg-3"><small class="text-muted">Group</small></div>
                                                    <div class="col-lg-1"></div>
                                                    <div class="col-lg-3"><small class="text-muted">Level</small></div>
                                                    <div class="col-lg-4"></div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    @if(curriculumAreaToPlan.planAtGroupLevel) {
                                        @for(group <- classDetails.groups.sortBy(group => group.groupLevel)) {
                                            @if(group.groupType == curriculumAreaToPlan.groupType) {
                                                <div class="row termly-plans-group-row">
                                                    <div class="col-lg-3">
                                                        <a role="button" class="btn btn-info btn-sm btn-block"
                                                        href="@controllers.planning.termly.routes.TermlyPlansController.termlyOverviewForCurriculumAreaAtGroupLevel(classDetails.id.id, group.groupType.value, group.groupId.id)">@group.groupName.name.capitalize</a>
                                                    </div>
                                                    <div class="col-lg-1"></div>
                                                    <div class="col-lg-3">
                                                        <label>@group.groupLevel.value.toUpperCase.replace("LEVEL", "")</label>
                                                    </div>
                                                    <div class="col-lg-3"></div>
                                                    <div class="col-lg-2">
                                                    @if(maybeCurriculumPlanProgress.getOrElse(CurriculumPlanProgressForClass(Map())).curriculumProgressMap.isDefinedAt(curriculumAreaToPlan) &&
                                                            maybeCurriculumPlanProgress.getOrElse(CurriculumPlanProgressForClass(Map())).curriculumProgressMap(curriculumAreaToPlan)._2.isDefinedAt(group)) {
                                                        @if(maybeCurriculumPlanProgress.getOrElse(CurriculumPlanProgressForClass(Map())).curriculumProgressMap(curriculumAreaToPlan)._2(group).percentValue > 0) {
                                                            <span class="badge badge-pill badge-success">Completed</span>
                                                        } else {
                                                            <span class="badge badge-pill badge-danger">Not Started</span>
                                                        }
                                                    } else {
                                                        <span class="badge badge-pill badge-danger">Not Started</span>
                                                    }
                                                    </div>
                                                </div>
                                            }
                                        }
                                    } else {
                                        <div class="row termly-plans-group-row">
                                            <div class="col-lg-3">
                                                <a role="button" class="btn btn-info btn-sm btn-block"
                                                href="@controllers.planning.termly.routes.TermlyPlansController.termlyOverviewForCurriculumAreaAtClassLevel(classDetails.id.id, curriculumAreaToPlan.value.toString)">
                                                    Plan For Class</a>
                                            </div>
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-3"></div>
                                            <div class="col-lg-3"></div>
                                            <div class="col-lg-2">
                                            @if(maybeCurriculumPlanProgress.getOrElse(CurriculumPlanProgressForClass(Map())).curriculumProgressMap.isDefinedAt(curriculumAreaToPlan) &&
                                                    maybeCurriculumPlanProgress.getOrElse(CurriculumPlanProgressForClass(Map())).curriculumProgressMap(curriculumAreaToPlan)._1.percentValue > 0) {
                                                <span class="badge badge-pill badge-success">Completed</span>
                                            } else {
                                                <span class="badge badge-pill badge-danger">Not Started</span>
                                            }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>

        <div id="reselect-and-download-pdf-section" class="d-flex justify-content-around">
            <div class="col-3">
                <a id="termly-plans-edit" role="button" class="btn btn-primary btn-sm btn-block"
                href="@controllers.planning.termly.routes.TermlyPlansController.termlyPlansSelectOverallCurriculumAreasForTheTerm(classDetails.id.id)">
                    Re-Select Curriculum Areas</a>
            </div>
        </div>

        <div class="modal" id="generating-pdf" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" id="addNewGroupModalHeader">
                            Generating PDF ... this can take a minute or so</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
            $(function () {
                $('[data-toggle="popover"]').popover();
            });
    </script>

    @scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
}
