@import models.timetoteach.TimeToTeachUserId
@(handler: be.objectify.deadbolt.scala.DeadboltHandler, userPictureUri: Option[String], userFirstName: Option[String], userFamilyName: Option[String], tttUserId: TimeToTeachUserId, classDetails: duplicate.model.ClassDetails)

@timetoteachAppMain(handler, s"${classDetails.className.name} Area Selection",
    userPictureUri, userFirstName, userFamilyName) {
    <div class="in-app-menu-small-devices">
        <li class="nav-item nav-login-button">
            <a class="btn btn-outline-primary btn-block" role="button" href="@routes.Application.timeToTeachApp()">
                Dashboard</a>
        </li>

        <li class="nav-item nav-login-button ">
            <a class="btn btn-outline-primary btn-block" role="button" href="@controllers.planning.termly.routes.TermlyPlansController.termlyPlans()">
                Termly Plans Home</a>
        </li>

        <li class="nav-item nav-login-button">
            <a class="btn btn-outline-primary btn-block" role="button"
            href="@controllers.planning.classtimetable.routes.ClassTimetableController.manageClass(classDetails.id.id)">
                Manage @classDetails.className.name</a>
        </li>

        <li class="nav-item nav-login-button">
            <a id="manage-class-goto-timetable" class="btn btn-outline-primary btn-block" role="button"
            href="@controllers.planning.classtimetable.routes.ClassTimetableController.classTimetable(classDetails.id.id)">
                Class Timetable</a>
        </li>

    </div>
} {
    <div class="container">
        <div class="manage-class-form-section">
            <div class="in-app-menu-medium-and-up">
                <div class="d-flex ">
                    <ul class="nav mr-auto justify-content-between">
                        <li class="nav-item manage-class-nav-item-leftmost">
                            <a class="btn btn-outline-primary" role="button" href="@routes.Application.timeToTeachApp()">
                                Dashboard</a>
                        </li>
                        <li class="nav-item manage-class-nav-item-on-left">
                            <a class="btn btn-outline-primary" role="button" href="@controllers.planning.termly.routes.TermlyPlansController.termlyPlans()">
                                Termly Plans Home</a>
                        </li>
                        <li class="nav-item manage-class-nav-item-on-left">
                            <a class="btn btn-info" role="button"
                            href="@controllers.planning.classtimetable.routes.ClassTimetableController.manageClass(classDetails.id.id)">
                                Manage @classDetails.className.name</a>
                        </li>
                        <li class="nav-item manage-class-nav-item-on-left">
                            <a id="manage-class-goto-timetable" class="btn btn-info" role="button"
                            href="@controllers.planning.classtimetable.routes.ClassTimetableController.classTimetable(classDetails.id.id)">
                                Class Timetable</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <h2>Lets select some curriculum areas</h2>

    </div>
}
