@import controllers.serviceproxies.TimeToTeachUserId
@(handler: be.objectify.deadbolt.scala.DeadboltHandler, userPictureUri: Option[String], userFirstName: Option[String], userFamilyName: Option[String], tttUserId: TimeToTeachUserId, classDetails: duplicate.model.ClassDetails, groupDetails: duplicate.model.Group, subject: String, maybeEsOsAndBenchmarks: Option[duplicate.model.esandos.EsAndOsPlusBenchmarksForSubjectAndLevel])

    @timetoteachAppMain(handler, s"${classDetails.className.name} Termly Plans - $subject - ${groupDetails.groupName.name.capitalize}",
        userPictureUri, userFirstName, userFamilyName) {
        <div class="in-app-menu-small-devices">
            <li class="nav-item nav-login-button">
                <a class="btn btn-outline-primary btn-block" role="button" href="@routes.Application.timeToTeachApp()">
                    Dashboard</a>
            </li>

            <li class="nav-item nav-login-button ">
                <a class="btn btn-outline-primary btn-block" role="button" href="@controllers.planning.termly.routes.TermlyPlansController.termlyPlans()">
                    Termly Plans Home</a>
            </li>

            <li class="nav-item nav-login-button ">
                <a class="btn btn-outline-primary btn-block" role="button" href="@controllers.planning.termly.routes.TermlyPlansController.termlyPlansForClass(classDetails.id.id)">
                    @classDetails.className.name Termly Plans</a>
            </li>

            <li class="nav-item nav-login-button">
                <a class="btn btn-outline-primary btn-block" role="button"
                href="@controllers.planning.classtimetable.routes.ClassTimetableController.manageClass(classDetails.id.id)">
                    Manage @classDetails.className.name</a>
            </li>

            <li class="nav-item nav-login-button">
                <a id="manage-class-goto-timetable" class="btn btn-outline-primary btn-block" role="button"
                href="@controllers.planning.classtimetable.routes.ClassTimetableController.classTimetable(classDetails.id.id)">
                    Class Timetable</a>
            </li>

        </div>
    } {
        <div class="container">
            <div class="manage-class-form-section">
                <div class="in-app-menu-medium-and-up">
                    <div class="d-flex ">
                        <ul class="nav mr-auto justify-content-between">
                            <li class="nav-item manage-class-nav-item-leftmost">
                                <a class="btn btn-outline-primary" role="button" href="@routes.Application.timeToTeachApp()">
                                    Dashboard</a>
                            </li>
                            <li class="nav-item manage-class-nav-item-on-left">
                                <a class="btn btn-outline-primary" role="button" href="@controllers.planning.termly.routes.TermlyPlansController.termlyPlans()">
                                    Termly Plans Home</a>
                            </li>
                            <li class="nav-item manage-class-nav-item-on-left">
                                <a class="btn btn-outline-primary" role="button" href="@controllers.planning.termly.routes.TermlyPlansController.termlyPlansForClass(classDetails.id.id)">
                                    @classDetails.className.name Termly Plans</a>
                            </li>
                            <li class="nav-item manage-class-nav-item-on-left">
                                <a class="btn btn-info" role="button"
                                href="@controllers.planning.classtimetable.routes.ClassTimetableController.manageClass(classDetails.id.id)">
                                    Manage @classDetails.className.name</a>
                            </li>
                            <li class="nav-item manage-class-nav-item-on-left">
                                <a id="manage-class-goto-timetable" class="btn btn-info" role="button"
                                href="@controllers.planning.classtimetable.routes.ClassTimetableController.classTimetable(classDetails.id.id)">
                                    Class Timetable</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="termly-plans-overview-section">
                <h4 class="termly-plans-overview-section-header">
                    Select areas which you intend to cover this term in @subject</h4>
            </div>

            @if(maybeEsOsAndBenchmarks.isDefined) {
                <p>Woohoo!</p>
            } else {
                <div class="alert alert-warning" role="alert">
                    No Es & Os or Benchmarks defined for level='@{groupDetails.groupLevel.value.replace("Level","")}' & subject='@{subject}'
                </div>
            }


        </div>
    }
