@import models.timetoteach.TimeToTeachUserId
@import models.timetoteach.planning.CurriculumAreaTermlyPlan
@import models.timetoteach.planning.ScottishCurriculumPlanningAreaWrapper
@import models.timetoteach.ui.CLASS_TERMLY_PLANS_LOWER
@import models.timetoteach.planning.TermlyCurriculumSelection
@import curriculum.scotland.EsOsAndBenchmarksBuilderImpl
@import models.timetoteach.planning.CurriculumPlanProgressForClass
@import duplicate.model.ClassId
@(handler: be.objectify.deadbolt.scala.DeadboltHandler, userPictureUri: Option[String], userFirstName: Option[String], userFamilyName: Option[String], tttUserId: TimeToTeachUserId, classDetails: duplicate.model.ClassDetails, curriculumArea: ScottishCurriculumPlanningAreaWrapper, subjectTermlyPlan: CurriculumAreaTermlyPlan, esAndOsCodeToDetailMap: Map[String, duplicate.model.esandos.EandO], currentTermlyCurriculumSelection: TermlyCurriculumSelection, maybeCurriculumPlanProgress: Option[CurriculumPlanProgressForClass], classIdToOverallProgress: Map[ClassId, Int])

@timetoteachAppMain(handler, s"Class ${classDetails.className.name}",
    userPictureUri, userFirstName, userFamilyName, Some(classDetails.id.id), Some(CLASS_TERMLY_PLANS_LOWER), Some(currentTermlyCurriculumSelection, subjectTermlyPlan.planningArea.toString), maybeCurriculumPlanProgress) {
    <div class="in-app-menu-small-devices">
        <li class="nav-item nav-login-button">
            <a class="btn btn-outline-primary btn-block" role="button" href="@routes.Application.timeToTeachApp()">
                Dashboard</a>
        </li>

        <li class="nav-item nav-login-button ">
            <a class="btn btn-outline-primary btn-block" role="button" href="@controllers.planning.termly.routes.TermlyPlansController.termlyPlans()">
                Termly Plans Home</a>
        </li>

        <li class="nav-item nav-login-button ">
            <a class="btn btn-info btn-block" role="button" href="@controllers.planning.termly.routes.TermlyPlansController.termlyPlansForClass(classDetails.id.id)">
                @classDetails.className.name Termly Plans</a>
        </li>

        <li class="nav-item nav-login-button">
            <a class="btn btn-outline-primary btn-block" role="button"
            href="@controllers.planning.classtimetable.routes.ClassTimetableController.manageClass(classDetails.id.id)">
                Manage @classDetails.className.name</a>
        </li>

        <li class="nav-item nav-login-button">
            <a id="manage-class-goto-timetable" class="btn btn-outline-primary btn-block" role="button"
            href="@controllers.planning.classtimetable.routes.ClassTimetableController.classTimetable(classDetails.id.id)">
                Class Timetable</a>
        </li>

    </div>
}{
    <li></li>
} {
    <div class="container">

        <h6 class="termly-plans-overview-section-header text-center">% Overall Plan Progress</h6>
        <div class="progress">
        @{
            if(classIdToOverallProgress.isDefinedAt(classDetails.id)) {
                defining(classIdToOverallProgress(classDetails.id) + "%") { overallProgressPercent =>
                    defining(s"width: $overallProgressPercent") { theWidth =>
                        defining(if(overallProgressPercent == "100%") "progress-bar progress-bar-striped bg-success" else "progress-bar progress-bar-striped bg-warning") { progressBackground =>
                            <div class={progressBackground} role="progressbar"
                            style={theWidth} aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            <strong>{overallProgressPercent}</strong>
                            </div>
                        }
                    }
                }
            } else {
                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
            }
        }
        </div>

        <div class="termly-plans-overview-section-subheader">
            <h1 class="text-center group-curriculum-area-header text-primary">
            @curriculumArea.niceSpecificValueIfPresent().getOrElse(curriculumArea.niceValue())

                <span class="d-flex ml-auto">
                    <a id="termly-plans-edit" role="button" class="btn btn-sm btn-outline-primary bg-light"
                    href="@controllers.planning.termly.routes.TermlyPlansController.termlyPlansClassLevel_SelectEsOsBenchmarksForCurriculumArea(classDetails.id.id, curriculumArea.value.toString)">
                        Re-Select Es&Os/Benchmarks</a>
                </span>

            </h1>
        </div>

        <div>

            <div class="row text-center">
                <div class="col-sm-6"><h4>Es & Os</h4></div>
                <div class="col-sm-6"><h4>Benchmarks</h4></div>
            </div>
            @for(esOsWithBenchmarks <- subjectTermlyPlan.eAndOsWithBenchmarks) {
                <div class="display-6 subsection-name-display text-info">
                @if(esOsWithBenchmarks.subsectionName != EsOsAndBenchmarksBuilderImpl.NO_SUBSECTION_NAME) {
                    @esOsWithBenchmarks.subsectionName
                } else {
                    @{esOsWithBenchmarks.sectionName}
                }
                </div>
                <div class="row es-os-benchmarks-overview-row">
                    <div class="col-sm-6">
                    @for(eAndOCode <- esOsWithBenchmarks.eAndOCodes) {
                        <div class="es-os-benchmarks-overview-row-with-just-code"><strong>@eAndOCode</strong>
                            <div>

                            @if(esAndOsCodeToDetailMap.isDefinedAt(eAndOCode)) {
                                @for(sentence <- esAndOsCodeToDetailMap(eAndOCode).eAndOSentences) {
                                    <div>@sentence.value</div>
                                    @if(sentence.bulletPoints.nonEmpty) {
                                        <ul>
                                        }
                                    @for(bullet <- sentence.bulletPoints) {
                                        <li>@bullet.value</li>
                                    }
                                    @if(sentence.bulletPoints.nonEmpty) {
                                    </ul>
                                    }
                                }
                            }

                            </div>
                        </div>
                    }
                    </div>
                    <div class="col-sm-6">
                    @for(benchmark <- esOsWithBenchmarks.benchmarks) {
                        <p>@benchmark</p>
                    }
                    </div>
                </div>
            }

        </div>



    </div>

}
