@import models.timetoteach.TimeToTeachUserId
@import models.timetoteach.planning.{CurriculumAreaTermlyPlan, ScottishCurriculumPlanningAreaWrapper, TermlyCurriculumSelection}
@import models.timetoteach.ui.CLASS_TERMLY_PLANS_LOWER
@import curriculum.scotland.EsOsAndBenchmarksBuilderImpl
@(handler: be.objectify.deadbolt.scala.DeadboltHandler, userPictureUri: Option[String], userFirstName: Option[String], userFamilyName: Option[String], tttUserId: TimeToTeachUserId, classDetails: duplicate.model.ClassDetails, groupDetails: duplicate.model.Group, curriculumArea: String, subjectTermlyPlan: CurriculumAreaTermlyPlan, esAndOsCodeToDetailMap: Map[String, duplicate.model.esandos.EandO], currentTermlyCurriculumSelection: TermlyCurriculumSelection)

@timetoteachAppMain(handler, s"Class ${classDetails.className.name}",
    userPictureUri, userFirstName, userFamilyName, Some(classDetails.id.id), Some(CLASS_TERMLY_PLANS_LOWER), Some(currentTermlyCurriculumSelection, subjectTermlyPlan.planningArea.toString)) {
    <div class="in-app-menu-small-devices">
        <li class="nav-item nav-login-button">
            <a class="btn btn-outline-primary btn-block" role="button" href="@routes.Application.timeToTeachApp()">
                Dashboard</a>
        </li>

        <li class="nav-item nav-login-button ">
            <a class="btn btn-outline-primary btn-block" role="button" href="@controllers.planning.termly.routes.TermlyPlansController.termlyPlans()">
                Termly Plans Home</a>
        </li>

        <li class="nav-item nav-login-button ">
            <a class="btn btn-info btn-block" role="button" href="@controllers.planning.termly.routes.TermlyPlansController.termlyPlansForClass(classDetails.id.id)">
                @classDetails.className.name Termly Plans</a>
        </li>

        <li class="nav-item nav-login-button">
            <a class="btn btn-outline-primary btn-block" role="button"
            href="@controllers.planning.classtimetable.routes.ClassTimetableController.manageClass(classDetails.id.id)">
                Manage @classDetails.className.name</a>
        </li>

        <li class="nav-item nav-login-button">
            <a id="manage-class-goto-timetable" class="btn btn-outline-primary btn-block" role="button"
            href="@controllers.planning.classtimetable.routes.ClassTimetableController.classTimetable(classDetails.id.id)">
                Class Timetable</a>
        </li>

    </div>
} {
    <div class="container">

        <div class="termly-plans-overview-section-header">

            <h4 class="text-center group-curriculum-area-header">
            @curriculumArea.toLowerCase.capitalize.split("__").toList.map(word => word.capitalize).mkString(" ")</h4>

            <ul class="nav nav-tabs" id="tab-for-all-groups" role="tablist">
            @for(group <- classDetails.groups.sortBy(elem => elem.groupLevel.order)) {
                @if(group.groupType.value.toLowerCase == ScottishCurriculumPlanningAreaWrapper(subjectTermlyPlan.planningArea).niceSpecificValueIfPresent().getOrElse(ScottishCurriculumPlanningAreaWrapper(subjectTermlyPlan.planningArea).niceValue()).toLowerCase) {
                    @if(group.groupId.id == groupDetails.groupId.id) {
                        <li class="nav-item">
                            <a class="nav-link active" id="tab_@group.groupId.id"
                            href="@controllers.planning.termly.routes.TermlyPlansController.termlyOverviewForCurriculumAreaAtGroupLevel(classDetails.id.id, subjectTermlyPlan.planningArea.toString, group.groupId.id)"
                            role="tab" aria-controls="tab_@group.groupId.id" aria-selected="true">
                                @group.groupName.name <div class="text-muted group-level-subscript">@group.groupLevel.value.replace("Level", " Level")</div></a>
                        </li>
                    } else {
                        <li class="nav-item">
                            <a class="nav-link" id="tab_@group.groupId.id"
                            href="@controllers.planning.termly.routes.TermlyPlansController.termlyOverviewForCurriculumAreaAtGroupLevel(classDetails.id.id, subjectTermlyPlan.planningArea.toString, group.groupId.id)"
                            role="tab" aria-controls="tab_@group.groupId.id" aria-selected="false">
                                @group.groupName.name <div class="text-muted group-level-subscript">@group.groupLevel.value.replace("Level", " Level")</div></a>
                        </li>
                    }
                }
            }
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active group-tab-content" id="content_@groupDetails.groupName.name" role="tabpanel" aria-labelledby="2017_2018-tab">
                    <div class="">
                    @if(classDetails.groups.isEmpty) {
                        <div class="teacher-classes-deck">
                            <h5 class="noClassesMsg text-center">No Groups.</h5>
                        </div>
                    } else {
                        <div class="termly-plans-overview-section">

                            <div class="termly-plans-overview-container">
                                <div id="reselect-and-download-pdf-section" class="d-flex justify-content-around">
                                    <div class="col-3">
                                        <a id="termly-plans-edit" role="button" class="btn btn-outline-primary bg-light"
                                        href="@controllers.planning.termly.routes.TermlyPlansController.termlyPlansGroupLevel_SelectEsOsBenchmarksForCurriculumArea(classDetails.id.id, curriculumArea, groupDetails.groupId.id)">
                                            Re-Select Es&Os/Benchmarks</a>
                                    </div>
                                </div>

                                <div class="row text-center">
                                    <div class="col-sm-6"><h5>Es & Os</h5></div>
                                    <div class="col-sm-6"><h5>Benchmarks</h5></div>
                                </div>
                                @for(esOsWithBenchmarks <- subjectTermlyPlan.eAndOsWithBenchmarks) {
                                    <div class="display-6 subsection-name-display text-info">
                                    @if(esOsWithBenchmarks.subsectionName != EsOsAndBenchmarksBuilderImpl.NO_SUBSECTION_NAME) {
                                        @esOsWithBenchmarks.subsectionName
                                    } else {
                                        @{esOsWithBenchmarks.sectionName}
                                    }
                                    </div>
                                    <div class="row es-os-benchmarks-overview-row">
                                        <div class="col-sm-6">
                                        @for(eAndOCode <- esOsWithBenchmarks.eAndOCodes) {
                                            <p><strong><p>@eAndOCode</p></strong>
                                            <div>

                                            @if(esAndOsCodeToDetailMap.isDefinedAt(eAndOCode)) {
                                                @for(sentence <- esAndOsCodeToDetailMap(eAndOCode).eAndOSentences) {
                                                    <p>@sentence.value</p>
                                                    @if(sentence.bulletPoints.nonEmpty) {
                                                        <ul>
                                                        }
                                                    @for(bullet <- sentence.bulletPoints) {
                                                        <li>@bullet.value</li>
                                                    }
                                                    @if(sentence.bulletPoints.nonEmpty) {
                                                    </ul>
                                                    }
                                                }
                                            }

                                            </div>
                                            </p>
                                        }
                                        </div>
                                        <div class="col-sm-6">
                                        @for(benchmark <- esOsWithBenchmarks.benchmarks) {
                                            <p>@benchmark</p>
                                        }
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    }
                    </div>
                </div>

            </div>


        </div>


    </div>

    </div>


}
