@import models.timetoteach.TimeToTeachUserId
@import models.timetoteach.planning.CurriculumAreaTermlyPlan
@(handler: be.objectify.deadbolt.scala.DeadboltHandler, userPictureUri: Option[String], userFirstName: Option[String], userFamilyName: Option[String], tttUserId: TimeToTeachUserId, classDetails: duplicate.model.ClassDetails, groupDetails: duplicate.model.Group, curriculumArea: String, subjectTermlyPlan: CurriculumAreaTermlyPlan, esAndOsCodeToDetailMap: Map[String, duplicate.model.esandos.EandO])

@timetoteachAppMain(handler, s"${classDetails.className.name} Termly Plans - $curriculumArea - ${groupDetails.groupName.name.capitalize}",
    userPictureUri, userFirstName, userFamilyName, Some(classDetails.id.id)) {
    <div class="in-app-menu-small-devices">
        <li class="nav-item nav-login-button">
            <a class="btn btn-outline-primary btn-block" role="button" href="@routes.Application.timeToTeachApp()">
                Dashboard</a>
        </li>

        <li class="nav-item nav-login-button ">
            <a class="btn btn-outline-primary btn-block" role="button" href="@controllers.planning.termly.routes.TermlyPlansController.termlyPlans()">
                Termly Plans Home</a>
        </li>

        <li class="nav-item nav-login-button ">
            <a class="btn btn-info btn-block" role="button" href="@controllers.planning.termly.routes.TermlyPlansController.termlyPlansForClass(classDetails.id.id)">
                @classDetails.className.name Termly Plans</a>
        </li>

        <li class="nav-item nav-login-button">
            <a class="btn btn-outline-primary btn-block" role="button"
            href="@controllers.planning.classtimetable.routes.ClassTimetableController.manageClass(classDetails.id.id)">
                Manage @classDetails.className.name</a>
        </li>

        <li class="nav-item nav-login-button">
            <a id="manage-class-goto-timetable" class="btn btn-outline-primary btn-block" role="button"
            href="@controllers.planning.classtimetable.routes.ClassTimetableController.classTimetable(classDetails.id.id)">
                Class Timetable</a>
        </li>

    </div>
} {
    <div class="container">

        <div class="termly-plans-overview-section">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputSubject">Subject</label>
                        <input type="text" class="form-control" id="inputSubject" placeholder="@curriculumArea" disabled="true">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputGroup">Group</label>
                        <input type="text" class="form-control" id="inputGroup" placeholder="@groupDetails.groupName.name.capitalize" disabled="true">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputLevel">Curriculum Level</label>
                        <input type="text" class="form-control" id="inputLevel" placeholder="@groupDetails.groupLevel.value.replace("Level", "")" disabled="true">
                    </div>
                </div>
            </form>


        </div>

        <div class="termly-plans-overview-container">
            <div class="row text-center">
                <div class="col-sm-6"><h4>Es & Os</h4></div>
                <div class="col-sm-6"><h4>Benchmarks</h4></div>
            </div>
            @for(esOsWithBenchmarks <- subjectTermlyPlan.eAndOsWithBenchmarks) {
                <div class="row es-os-benchmarks-overview-row">
                    <div class="col-sm-6">
                    @for(eAndOCode <- esOsWithBenchmarks.eAndOCodes) {
                        <p><strong><p>@eAndOCode</p></strong>
                        <div>

                        @if(esAndOsCodeToDetailMap.isDefinedAt(eAndOCode)) {
                            @for(sentence <- esAndOsCodeToDetailMap(eAndOCode).eAndOSentences) {
                                <p>@sentence.value</p>
                                @if(sentence.bulletPoints.nonEmpty) {
                                    <ul>
                                    }
                                @for(bullet <- sentence.bulletPoints) {
                                    <li>@bullet.value</li>
                                }
                                @if(sentence.bulletPoints.nonEmpty) {
                                </ul>
                                }
                            }
                        }

                        </div>
                        </p>
                    }
                    </div>
                    <div class="col-sm-6">
                    @for(benchmark <- esOsWithBenchmarks.benchmarks) {
                        <p>@benchmark</p>
                    }
                    </div>
                </div>
            }

        </div>
        <div class="d-flex justify-content-end">
            <div class="col-7"></div>
            <div class="col-3">
                <a id="termly-plans-edit" role="button" class="btn btn-warning"
                href="@controllers.planning.termly.routes.TermlyPlansController.termlyPlansGroupLevel_SelectEsOsBenchmarksForCurriculumArea(classDetails.id.id, curriculumArea, groupDetails.groupId.id)">
                    Re-Select Es&Os/Benchmarks</a>
            </div>
        </div>


    </div>


    </div>

}
