@import models.timetoteach.term.SchoolTerm
@import models.timetoteach.term.SchoolTermName
@(classDetails: duplicate.model.ClassDetails, schoolTerm: SchoolTerm, todaysDatePretty: String)

<!DOCTYPE html>
<html>
    <head>
        <title>Class @{
            classDetails.className.name
        } : @{
            SchoolTermName.niceValue(schoolTerm.schoolTermName)
        } Termly Plan</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/termlyplanspdf.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("icons/ttt_owl.png")">

    </head>

    <div class="text-center">
        <h2 id="view-class-plans-termly-plan-header"><span class="text-muted view-class-plans-todays-date">@{
            todaysDatePretty
        }</span>
            @{
                classDetails.className.name
            }, @{
            SchoolTermName.niceValue(schoolTerm.schoolTermName)
        } Plan, @{
                schoolTerm.schoolYear.niceValue
            }</h2>
    </div>


</html>
