@import duplicate.model.ClassDetails
@(handler: be.objectify.deadbolt.scala.DeadboltHandler,
        userPictureUri: Option[String],
        userFirstName: Option[String],
        userFamilyName: Option[String],
        classDetails: ClassDetails,
        classContext: models.timetoteach.ui.ClassIdContext,
        maybeClassSubContext: Option[models.timetoteach.ui.ClassIdSubContext]
)(weeklyPlanningContent: Html)

    @timetoteachAppMain(handler, s"Class ${classDetails.className.name}", userPictureUri, userFirstName, userFamilyName, Some(classDetails.id.id), Some(classContext), None, None) {
        <li></li>
    } {

        <nav id="dashboard-nav-weekly-planning" class="navbar navbar-primary bg-dark navbar-expand-lg">
            <div class="col-md-1">
                <a class="navbar-brand text-light" href="#">Weekly Planning</a>
            </div>
            <div class="col-md-10 d-flex justify-content-center">
                <ul class="navbar-nav mx-auto">
                @if(maybeClassSubContext.isDefined) {
                    @if(maybeClassSubContext.get.isInstanceOf[models.timetoteach.ui.WEEKLY_VIEW.type]) {
                        <li class="nav-item">
                            <a role="button" class="btn btn-warning btn-sm btn-block class-level-button"
                            href="@controllers.planning.weekly.routes.WeeklyPlanningController.weeklyViewOfWeeklyPlanning(classDetails.id.id)">
                                Weekly View
                            </a>
                        </li>
                    } else {
                        <li class="nav-item">
                            <a role="button" class="btn btn-light text-dark btn-sm btn-block class-level-button"
                            href="@controllers.planning.weekly.routes.WeeklyPlanningController.weeklyViewOfWeeklyPlanning(classDetails.id.id)">
                                Weekly View
                            </a>
                        </li>
                    }

                    @if(maybeClassSubContext.get.isInstanceOf[models.timetoteach.ui.CREATE_WEEKLY_PLAN.type]) {
                        <li class="nav-item">
                            <a role="button" class="btn btn-warning btn-sm btn-block class-level-button"
                            href="@controllers.planning.weekly.routes.WeeklyPlanningController.createPlanForTheWeek(classDetails.id.id)">
                                Plan for the Week
                            </a>
                        </li>
                    } else {
                        <li class="nav-item">
                            <a class="btn btn-light text-dark btn-sm btn-block class-level-button" role="button"
                            href="@controllers.planning.weekly.routes.WeeklyPlanningController.createPlanForTheWeek(classDetails.id.id)">
                                Plan for the Week
                            </a>
                        </li>
                    }

                } else {
                    <li class="nav-item">
                        <a class="btn btn-light text-dark btn-sm btn-block class-level-button" role="button"
                        href="@controllers.planning.weekly.routes.WeeklyPlanningController.createPlanForTheWeek(classDetails.id.id)">
                            Weekly View
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-light text-dark btn-sm btn-block class-level-button" role="button"
                        href="#">
                            Plan for the Week
                        </a>
                    </li>
                }
                </ul>
            </div>
            <div class="col-md-1"></div>
        </nav>

    } {
        <div class="container">
            <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>Note: The weekly planning is under development</p>
                <p>i.e. it isn't finished & will be changing rapidly. It is useful to
                    <em>get an idea</em> of what it will look like.</p>
            </div>
        </div>
        <div class="container-fluid weekly-planning-top-margin">
        @weeklyPlanningContent
        </div>

    }
