@import duplicate.model.ClassDetails
@import models.timetoteach.term.SchoolTerm
@(handler: be.objectify.deadbolt.scala.DeadboltHandler,
        userPictureUri: Option[String],
        userFirstName: Option[String],
        userFamilyName: Option[String],
        classDetails: ClassDetails,
        classContext: models.timetoteach.ui.ClassIdContext,
        maybeClassSubContext: Option[models.timetoteach.ui.ClassIdSubContext],
        currentTerm: SchoolTerm
)(weeklyPlanningContent: Html)

    @timetoteachAppMain(handler, s"Class ${classDetails.className.name}", userPictureUri, userFirstName, userFamilyName, Some(classDetails), Some(classContext), None, None, Some(currentTerm)) {
        <li></li>
    } {

        <nav id="dashboard-nav-weekly-planning" class="navbar navbar-primary bg-dark navbar-expand-lg">
            <div class="col-md-1">
                <a class="navbar-brand text-light" href="#"></a>
            </div>
            <div class="col-md-10 d-flex justify-content-center">
                <ul class="navbar-nav mx-auto">
                @if(maybeClassSubContext.isDefined) {
                    @if(maybeClassSubContext.get.isInstanceOf[models.timetoteach.ui.WEEKLY_VIEW.type]) {
                        <li class="nav-item">
                            <a role="button" class="btn btn-warning btn-sm btn-block class-level-button"
                            href="@controllers.planning.weekly.routes.WeeklyPlanningController.weeklyViewOfWeeklyPlanning(classDetails.id.id)">
                                Weekly View
                            </a>
                        </li>
                    } else {
                        <li class="nav-item">
                            <a role="button" class="btn btn-light text-dark btn-sm btn-block class-level-button"
                            href="@controllers.planning.weekly.routes.WeeklyPlanningController.weeklyViewOfWeeklyPlanning(classDetails.id.id)">
                                Weekly View
                            </a>
                        </li>
                    }

                    @if(maybeClassSubContext.get.isInstanceOf[models.timetoteach.ui.CREATE_WEEKLY_PLAN.type]) {
                        <li class="nav-item">
                            <a role="button" class="btn btn-warning btn-sm btn-block class-level-button"
                            href="@controllers.planning.weekly.routes.WeeklyPlanningController.createPlanForTheWeek(classDetails.id.id)">
                                Plan Week
                            </a>
                        </li>
                    } else {
                        <li class="nav-item">
                            <a class="btn btn-light text-dark btn-sm btn-block class-level-button" role="button"
                            href="@controllers.planning.weekly.routes.WeeklyPlanningController.createPlanForTheWeek(classDetails.id.id)">
                                Plan Week
                            </a>
                        </li>
                    }

                } else {
                    <li class="nav-item">
                        <a class="btn btn-light text-dark btn-sm btn-block class-level-button" role="button"
                        href="@controllers.planning.weekly.routes.WeeklyPlanningController.createPlanForTheWeek(classDetails.id.id)">
                            Weekly View
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-light text-dark btn-sm btn-block class-level-button" role="button"
                        href="#">
                            Plan Week
                        </a>
                    </li>
                }
                </ul>
            </div>
            <div class="col-md-1"></div>
        </nav>

    } {
        <div class="container-fluid weekly-planning-top-margin">
        @weeklyPlanningContent
        </div>

    }
