@import duplicate.model.ClassDetails
@import models.timetoteach.term.SchoolTerm
@(handler: be.objectify.deadbolt.scala.DeadboltHandler,
        userPictureUri: Option[String],
        userFirstName: Option[String],
        userFamilyName: Option[String],
        classDetails: ClassDetails,
        classContext: models.timetoteach.ui.ClassIdContext,
        maybeClassSubContext: Option[models.timetoteach.ui.ClassIdSubContext],
        currentTerm: SchoolTerm,
        weekNumber: Int
)(weeklyPlanningContent: Html)

@timetoteachAppMain(handler, s"Class ${classDetails.className.name}", userPictureUri, userFirstName, userFamilyName, Some(classDetails), Some(classContext), None, None, Some(currentTerm)) {
    <li></li>
} {

    <nav></nav>


} {

    <div class="template-weekly-planning-mondays-in-term row d-flex justify-content-around">
        <span><svg version="1.1" width="24" height="24" viewBox="0 0 24 24" class="happy-smiley-end-of-term octicon octicon-rocket float-left" aria-hidden="true">
            <use xlink:href="#rocket" /></svg>
            <span id="term-start-text" class="text-success">Term Start</span>
        </span>
        @for((mondayInTerm, index) <- currentTerm.listOfAllMondaysInTerm().zipWithIndex) {
            @if(index == (weekNumber - 1) ||
                    (((weekNumber - 1) > currentTerm.listOfAllMondaysInTerm.size) && (index == currentTerm.listOfAllMondaysInTerm.size - 1)) ||
                    ((weekNumber - 1) < 0) && index == 0) {
                <button type="button"
                class="btn btn-outline-secondary btn-sm template-weekly-planning-mondays-actual-monday-date-btn"
                data-selected-monday-date="@mondayInTerm.toString"
                data-is-currently-selected="true">
                    <small>Week of Monday</small>
                    <br>
                    @mondayInTerm.getDayOfMonth, @mondayInTerm.getMonth.toString.toLowerCase.capitalize
                </button>
            } else {
                <button type="button"
                class="btn btn-outline-secondary btn-sm template-weekly-planning-mondays-actual-monday-date-btn"
                data-selected-monday-date="@mondayInTerm.toString"
                data-is-currently-selected="false">
                    <small>Week of Monday</small>
                    <br>
                    @mondayInTerm.getDayOfMonth, @mondayInTerm.getMonth.toString.toLowerCase.capitalize
                </button>
            }
        }
        <span>
            <span id="term-end-text" class="text-success">Term End</span>
            <svg version="1.1" width="24" height="24" viewBox="0 0 24 24" class="happy-smiley-end-of-term octicon octicon-smiley float-right" aria-hidden="true">
                <use xlink:href="#smiley" /></svg>
        </span>
    </div>

    <div class="container-fluid weekly-planning-top-margin">
    @weeklyPlanningContent
    </div>

}
