@import curriculum.scotland.EsOsAndBenchmarksBuilderImpl
@import duplicate.model.ClassDetails
@import models.timetoteach.planning.ScottishCurriculumPlanningAreaWrapper
@import models.timetoteach.planning.pdf.CurriculumAreaTermlyPlanForPdfWrapper
@import models.timetoteach.ui._
@import io.sudostream.timetoteach.messages.systemwide.model.classtimetable.ClassTimetable
@import models.timetoteach.term.SchoolTerm
@import duplicate.model.planning.LessonsThisWeek
@import models.timetoteach.TimeToTeachUserId
@(handler: be.objectify.deadbolt.scala.DeadboltHandler,
        userPictureUri: Option[String],
        userFirstName: Option[String],
        userFamilyName: Option[String],
        tttUserId: TimeToTeachUserId,
        classDetails: ClassDetails,
        currentTermlyPlan: CurriculumAreaTermlyPlanForPdfWrapper,
        esAndOsCodeToDetailMap: Map[String, duplicate.model.esandos.EandO],
        classTimetable: ClassTimetable,
        currentTerm: SchoolTerm,
        lessonsThisWeekPickled: String
)

@tabContentActiveOrNot(index: Int) = {
@{s"""tab-pane fade ${if(index == 0) "show active"} """.trim.replace("\n", "")}
}

@activeLink(index: Int) = {
@{s"""nav-link ${if(index == 0) "active" else ""} """.trim}
}

@indexActive(index: Int) = {
@{s"""${if(index == 0) "true" else "false"} """.trim}
}


@buildEsAndOsSection(plan: models.timetoteach.planning.pdf.CurriculumAreaTermlyPlanForPdf) = {
    <div class="create-weekly-plans-es-os-and-benchmarks-window">

        @for(esOsWithBenchmarks <- plan.eAndOsWithBenchmarks) {
            <div class="create-weekly-plans-subsection">
                <div class="create-weekly-plans-subsection-header text-primary">
                @if(esOsWithBenchmarks.subsectionName != EsOsAndBenchmarksBuilderImpl.NO_SUBSECTION_NAME) {
                    @esOsWithBenchmarks.subsectionName
                } else {
                    @{
                        esOsWithBenchmarks.sectionName
                    }
                }
                </div>

                <div class="create-weekly-plans-es-and-os-section">
                    <div class="create-weekly-plans-es-and-os-section-header text-info text-center">
                Es & Os
                    </div>
                    @for(code <- esOsWithBenchmarks.eAndOCodes) {
                        <div class="create-weekly-plans-es-and-os-line">
                            <div class="row">
                                <div class="col-md-1 col-lg-1 col-xl-1"></div>
                                <div class="col-md-10 col-lg-10 col-xl-10">
                                    <div class="row create-weekly-plans-es-and-os-row create-weekly-plans-eobenchmark-row"
                                    data-eando-code="@code"
                                    data-curriculum-section="@esOsWithBenchmarks.sectionName"
                                    data-curriculum-subsection="@esOsWithBenchmarks.subsectionName">
                                        <div class="col-md-4 col-lg-3 col-xl-3 create-weekly-plans-es-and-os-code">
                                        @code</div>
                                        <div class="col-md-6 col-lg-8 col-xl-8">
                                        @for(sentence <- esAndOsCodeToDetailMap(code).eAndOSentences) {
                                            <div class="create-weekly-plans-es-and-os-sentence">@sentence.value</div>
                                            @if(sentence.bulletPoints.nonEmpty) {
                                                <ul>
                                                }
                                            @for(bullet <- sentence.bulletPoints) {
                                                @if(bullet.value.nonEmpty) {
                                                    <li>@bullet.value</li>
                                                }
                                            }
                                            @if(sentence.bulletPoints.nonEmpty) {
                                            </ul>
                                            }
                                        }
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-xl-1">
                                            <span class="badge badge-danger">Not Started</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 col-lg-1 col-xl-1"></div>
                            </div>
                        </div>
                    }
                </div>

                <div class="create-weekly-plans-benchmarks-section">
                    <div class="create-weekly-plans-es-and-os-section-header text-info text-center">
                Benchmarks
                    </div>
                    @for(benchmark <- esOsWithBenchmarks.benchmarks) {
                        <div class="row"
                        data-benchmark="@benchmark"
                        data-curriculum-section="@esOsWithBenchmarks.sectionName"
                        data-curriculum-subsection="@esOsWithBenchmarks.subsectionName">
                            <div class="col-md-1 col-lg-1 col-xl-1"></div>
                            <div class="col-md-10 col-lg-10 col-xl-10">
                                <div class="row create-weekly-plans-benchmark-row create-weekly-plans-eobenchmark-row"
                                data-benchmark="@benchmark"
                                data-curriculum-section="@esOsWithBenchmarks.sectionName"
                                data-curriculum-subsection="@esOsWithBenchmarks.subsectionName">
                                    <div class="col-md-11 col-lg-11 col-xl-11">
                                        <div class="create-weekly-plans-benchmark-line">
                                        @benchmark</div>
                                    </div>
                                    <div class="col-md-1 col-lg-1 col-xl-1">
                                        <span class="badge badge-danger">Not Started</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 col-lg-1 col-xl-1"></div>
                        </div>
                    }
                </div>
            </div>
        }


        <div class="d-flex justify-content-center">
            <button class="btn btn-success create-weekly-plans-plan-lessons-button"
            data-planning-area="@plan.planningArea.toString"
            data-planning-area-nice="@ScottishCurriculumPlanningAreaWrapper(plan.planningArea).niceSubjectLevelValue()" >
                Plan
                <strong>@{
                    ScottishCurriculumPlanningAreaWrapper(plan.planningArea).niceSubjectLevelValue()
                }
                </strong>
                lessons</button>
        </div>


    </div>
}


@_templateWeeklyPlanning(handler, userPictureUri, userFirstName, userFamilyName, classDetails, CLASS_WEEKLY_PLANS, Some(CREATE_WEEKLY_PLAN), currentTerm) {

    <div class="container-fluid">

        <div class="create-weekly-plans-section">
            <h4 class="display-5 text-center create-weekly-plans-header">Create Weekly Plan</h4>
            <h5 class="text-center create-weekly-plans-sub-header text-info">
                Select the Es & Os / Benchmarks you'll be covering this week</h5>

            <div class="create-weekly-plans-main-section">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                @for((planningArea, indexPlanningArea) <- currentTermlyPlan.fullTermlyPlan.keys.zipWithIndex) {
                    @if(indexPlanningArea == 0) {
                        <li class="nav-item">
                            <a class="nav-link active"
                            id="weekly-plans-tab_@planningArea.value.toString"
                            aria-controls="weekly-plans-tab_content_@planningArea.value.toString"
                            href="#weekly-plans-tab-content_@planningArea.value.toString"
                            data-toggle="tab" role="tab" aria-selected="true">
                            @planningArea.niceValue()
                            </a>
                        </li>
                    } else {
                        <li class="nav-item">
                            <a class="nav-link"
                            id="weekly-plans-tab_@planningArea.value.toString"
                            aria-controls="weekly-plans-tab_content_@planningArea.value.toString"
                            href="#weekly-plans-tab-content_@planningArea.value.toString"
                            data-toggle="tab" role="tab" aria-selected="false">
                            @planningArea.niceValue()
                            </a>
                        </li>
                    }
                }
                </ul>

                <div class="tab-content" id="create-weekly-plans-outer-tab">
                @for((planningArea, indexPlanningArea) <- currentTermlyPlan.fullTermlyPlan.keys.zipWithIndex) {
                    @if(indexPlanningArea == 0) {
                        <div class="tab-pane fade show active"
                        id="weekly-plans-tab-content_@planningArea.value.toString"
                        role="tabpanel" >

                            <div class="row">
                                <div class="col-md-3 col-lg-2">
                                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    @for((termlyPlanForArea, indexTermlyPlanForArea) <- currentTermlyPlan.fullTermlyPlan(planningArea).sortBy(elem => elem.orderNumber).zipWithIndex) {
                                        @if(indexTermlyPlanForArea == 0 && indexPlanningArea == 0) {
                                            <a class="nav-link active" data-toggle="pill" role="tab" aria-selected="true"
                                            id="v-pills-tab-@termlyPlanForArea.planningArea.toString"
                                            href="#v-pills-content-@termlyPlanForArea.planningArea.toString"
                                            aria-controls="v-pills-content-@termlyPlanForArea.planningArea.toString">
                                            @{
                                                ScottishCurriculumPlanningAreaWrapper(termlyPlanForArea.planningArea).niceSubjectLevelValue()
                                            }
                                            </a>
                                        } else {
                                            <a class="nav-link" data-toggle="pill" role="tab" aria-selected="false"
                                            id="v-pills-tab-@termlyPlanForArea.planningArea.toString"
                                            href="#v-pills-content-@termlyPlanForArea.planningArea.toString"
                                            aria-controls="v-pills-content-@termlyPlanForArea.planningArea.toString" >
                                            @{
                                                ScottishCurriculumPlanningAreaWrapper(termlyPlanForArea.planningArea).niceSubjectLevelValue()
                                            }
                                            </a>

                                        }
                                    }
                                    </div>
                                </div>

                                <div class="col-md-9 col-lg-10">
                                    <div class="tab-content" id="v-pills-tabContent">
                                    @for((termlyPlanForArea, indexTermlyPlanForArea) <- currentTermlyPlan.fullTermlyPlan(planningArea).sortBy(elem => elem.orderNumber).zipWithIndex) {

                                        @if(indexTermlyPlanForArea == 0) {
                                            @if(ScottishCurriculumPlanningAreaWrapper(termlyPlanForArea.planningArea).planAtGroupLevel) {
                                                <div class="tab-pane fade show active" role="tabpanel"
                                                id="v-pills-content-@termlyPlanForArea.planningArea.toString-@termlyPlanForArea.maybeGroup.get.groupName.name"
                                                aria-labelledby="v-pills-tab-@termlyPlanForArea.planningArea.toString-@termlyPlanForArea.maybeGroup.get.groupName.name">
                                                @buildEsAndOsSection(termlyPlanForArea)
                                                </div>
                                            } else {
                                                <div class="tab-pane fade show active" role="tabpanel"
                                                id="v-pills-content-@termlyPlanForArea.planningArea.toString"
                                                aria-labelledby="v-pills-tab-@termlyPlanForArea.planningArea.toString">
                                                @buildEsAndOsSection(termlyPlanForArea)
                                                </div>
                                            }

                                        } else {
                                            @if(ScottishCurriculumPlanningAreaWrapper(termlyPlanForArea.planningArea).planAtGroupLevel) {
                                                <div class="tab-pane fade" role="tabpanel"
                                                id="v-pills-content-@termlyPlanForArea.planningArea.toString-@termlyPlanForArea.maybeGroup.get.groupName.name"
                                                aria-labelledby="v-pills-tab-@termlyPlanForArea.planningArea.toString-@termlyPlanForArea.maybeGroup.get.groupName.name">
                                                @buildEsAndOsSection(termlyPlanForArea)
                                                </div>
                                            } else {
                                                <div class="tab-pane fade" role="tabpanel"
                                                id="v-pills-content-@termlyPlanForArea.planningArea.toString"
                                                aria-labelledby="v-pills-tab-@termlyPlanForArea.planningArea.toString">
                                                @buildEsAndOsSection(termlyPlanForArea)
                                                </div>
                                            }
                                        }

                                    }
                                    </div>
                                </div>
                            </div>


                        </div>
                    } else {
                        <div class="tab-pane fade"
                        id="weekly-plans-tab-content_@planningArea.value.toString"
                        role="tabpanel" >

                            <div class="row">
                                <div class="col-md-3 col-lg-2">
                                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    @for((termlyPlanForArea, indexTermlyPlanForArea) <- currentTermlyPlan.fullTermlyPlan(planningArea).sortBy(elem => elem.orderNumber).zipWithIndex) {
                                        @if(indexTermlyPlanForArea == 0) {
                                            @if(ScottishCurriculumPlanningAreaWrapper(termlyPlanForArea.planningArea).planAtGroupLevel) {
                                                <a class="nav-link active" data-toggle="pill" role="tab" aria-selected="false"
                                                id="v-pills-tab-@termlyPlanForArea.planningArea.toString-@termlyPlanForArea.maybeGroup.get.groupName.name"
                                                href="#v-pills-content-@termlyPlanForArea.planningArea.toString-@termlyPlanForArea.maybeGroup.get.groupName.name"
                                                aria-controls="v-pills-content-@termlyPlanForArea.planningArea.toString-@termlyPlanForArea.maybeGroup.get.groupName.name">
                                                    @{
                                                        termlyPlanForArea.maybeGroup match {
                                                            case Some(group) => s"${group.groupName.name}"
                                                            case None => ""
                                                        }
                                                    }
                                                    <br>
                                                    <small>
                                                    @{
                                                        termlyPlanForArea.maybeGroup match {
                                                            case Some(group) => s" (${group.groupLevel.value.replace("Level", " Level")})"
                                                            case None => ""
                                                        }
                                                    }
                                                    </small>
                                                </a>
                                            } else {
                                                <a class="nav-link active" data-toggle="pill" role="tab" aria-selected="false"
                                                id="v-pills-tab-@termlyPlanForArea.planningArea.toString"
                                                href="#v-pills-content-@termlyPlanForArea.planningArea.toString"
                                                aria-controls="v-pills-content-@termlyPlanForArea.planningArea.toString">
                                                @{
                                                    ScottishCurriculumPlanningAreaWrapper(termlyPlanForArea.planningArea).niceSubjectLevelValue()
                                                }
                                                </a>
                                            }
                                        } else {
                                            @if(ScottishCurriculumPlanningAreaWrapper(termlyPlanForArea.planningArea).planAtGroupLevel) {
                                                <a class="nav-link" data-toggle="pill" role="tab" aria-selected="false"
                                                id="v-pills-tab-@termlyPlanForArea.planningArea.toString-@termlyPlanForArea.maybeGroup.get.groupName.name"
                                                href="#v-pills-content-@termlyPlanForArea.planningArea.toString-@termlyPlanForArea.maybeGroup.get.groupName.name"
                                                aria-controls="v-pills-content-@termlyPlanForArea.planningArea.toString-@termlyPlanForArea.maybeGroup.get.groupName.name" >
                                                    @{
                                                        termlyPlanForArea.maybeGroup match {
                                                            case Some(group) => s"${group.groupName.name}"
                                                            case None => ""
                                                        }
                                                    }
                                                    <br>
                                                    <small>
                                                    @{
                                                        termlyPlanForArea.maybeGroup match {
                                                            case Some(group) => s" (${group.groupLevel.value.replace("Level", " Level")})"
                                                            case None => ""
                                                        }
                                                    }
                                                    </small>
                                                </a>
                                            } else {
                                                <a class="nav-link" data-toggle="pill" role="tab" aria-selected="false"
                                                id="v-pills-tab-@termlyPlanForArea.planningArea.toString"
                                                href="#v-pills-content-@termlyPlanForArea.planningArea.toString"
                                                aria-controls="v-pills-content-@termlyPlanForArea.planningArea.toString" >
                                                @{
                                                    ScottishCurriculumPlanningAreaWrapper(termlyPlanForArea.planningArea).niceSubjectLevelValue()
                                                }
                                                </a>
                                            }

                                        }
                                    }
                                    </div>
                                </div>


                                <div class="col-md-9 col-lg-10">
                                    <div class="tab-content" id="v-pills-tabContent">
                                    @for((termlyPlanForArea, indexTermlyPlanForArea) <- currentTermlyPlan.fullTermlyPlan(planningArea).sortBy(elem => elem.orderNumber).zipWithIndex) {
                                        @if(indexTermlyPlanForArea == 0) {
                                            @if(ScottishCurriculumPlanningAreaWrapper(termlyPlanForArea.planningArea).planAtGroupLevel) {
                                                <div class="tab-pane fade show active" role="tabpanel"
                                                id="v-pills-content-@termlyPlanForArea.planningArea.toString-@termlyPlanForArea.maybeGroup.get.groupName.name"
                                                aria-labelledby="v-pills-tab-@termlyPlanForArea.planningArea.toString-@termlyPlanForArea.maybeGroup.get.groupName.name">
                                                @buildEsAndOsSection(termlyPlanForArea)
                                                </div>
                                            } else {
                                                <div class="tab-pane fade show active" role="tabpanel"
                                                id="v-pills-content-@termlyPlanForArea.planningArea.toString"
                                                aria-labelledby="v-pills-tab-@termlyPlanForArea.planningArea.toString">
                                                @buildEsAndOsSection(termlyPlanForArea)
                                                </div>
                                            }
                                        } else {
                                            @if(ScottishCurriculumPlanningAreaWrapper(termlyPlanForArea.planningArea).planAtGroupLevel) {
                                                <div class="tab-pane fade" role="tabpanel"
                                                id="v-pills-content-@termlyPlanForArea.planningArea.toString-@termlyPlanForArea.maybeGroup.get.groupName.name"
                                                aria-labelledby="v-pills-tab-@termlyPlanForArea.planningArea.toString-@termlyPlanForArea.maybeGroup.get.groupName.name">
                                                    @buildEsAndOsSection(termlyPlanForArea)
                                                </small>
                                                </div>
                                            } else {
                                                <div class="tab-pane fade" role="tabpanel"
                                                id="v-pills-content-@termlyPlanForArea.planningArea.toString"
                                                aria-labelledby="v-pills-tab-@termlyPlanForArea.planningArea.toString">
                                                @buildEsAndOsSection(termlyPlanForArea)
                                                </div>
                                            }
                                        }
                                    }
                                    </div>
                                </div>

                            </div>


                        </div>
                    }
                }
                </div>


            </div>

        </div>
    </div>


    <div class="modal" id="create-weekly-plans-lesson-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Plan <span data-subject-name=""  id="create-weekly-plans-lesson-subject-name"></span> Lesson(s)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <div id="create-weekly-plans-lessons-summaries"></div>
                </div>
                <div class="modal-body">
                    <p>

                    </p>
                    <p>Lesson text goes here.</p>

                    <div class="row">
                        <button class="btn btn-sm btn-success create-weekly-plans-add-to-lesson-button">
                            Add Activity
                        </button>
                    </div>
                    <div class="row">
                        <button class="btn btn-sm btn-success create-weekly-plans-add-to-lesson-button">
                            Add Resource
                        </button>
                    </div>
                    <div class="row">
                        <button class="btn btn-sm btn-success create-weekly-plans-add-to-lesson-button">
                            Add Learning Intention
                        </button>
                    </div>
                    <div class="row">
                        <button class="btn btn-sm btn-success create-weekly-plans-add-to-lesson-button">
                            Add Success Criteria
                        </button>
                    </div>
                    <div class="row">
                        <button class="btn btn-sm btn-success create-weekly-plans-add-to-lesson-button">
                            Add Plenary
                        </button>
                    </div>
                    <div class="row">
                        <button class="btn btn-sm btn-success create-weekly-plans-add-to-lesson-button">
                            Add Formative Assessment
                        </button>
                    </div>
                    <div class="row">
                        <button class="btn btn-sm btn-success create-weekly-plans-add-to-lesson-button">
                            Add Note
                        </button>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
            localStorage.setItem("classId", "@classDetails.id.id");
            localStorage.setItem("tttUserId", "@tttUserId.value");
            localStorage.setItem("lessonsThisWeekPickled", "@lessonsThisWeekPickled");
    </script>


    @scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
}
