@import duplicate.model.ClassDetails
@import io.sudostream.timetoteach.messages.systemwide.model.classtimetable.ClassTimetable
@import models.timetoteach.classtimetable.SchoolDayTimes
@import models.timetoteach.ui._
@import io.sudostream.timetoteach.messages.systemwide.model.classtimetable.sessions.SessionBoundaryType
@import io.sudostream.timetoteach.messages.systemwide.model.classtimetable.sessions.SessionName
@import models.timetoteach.term.SchoolTerm
@import duplicate.model.planning.FullWeeklyPlanOfLessons
@import shared.util.SubjectsToPlanAreaUtil
@import io.sudostream.timetoteach.messages.systemwide.model.classtimetable.subjectdetail.SubjectDetailWrapper
@import duplicate.model.planning.LessonPlan
@import duplicate.model.planning.AttributeRowKey
@(handler: be.objectify.deadbolt.scala.DeadboltHandler,
        userPictureUri: Option[String],
        userFirstName: Option[String],
        userFamilyName: Option[String],
        classDetails: ClassDetails,
        schoolDayTimes: SchoolDayTimes,
        classTimetable: ClassTimetable,
        currentTerm: SchoolTerm,
        weekNumber: Int,
        todaysDate: java.time.LocalDate,
        fullWeeklyPlanOfLessons : FullWeeklyPlanOfLessons
)

@splitCamel(s: String) = {
@s.replaceAll(
    String.format("%s|%s|%s",
        "(?<=[A-Z])(?=[A-Z][a-z])",
        "(?<=[^A-Z])(?=[A-Z])",
        "(?<=[A-Za-z])(?=[^A-Za-z])"
    ),
    " "
).replaceAll("  ", " ").replace("Session", "")
}

@calculateColumnBootstrapWidth(numberOfLessonsInSession: Int) = {
@{s"""col-${(12 / numberOfLessonsInSession).toString.trim}"""}
}


@buildListFromNewLines(elem: AttributeRowKey,lessonPlan: LessonPlan) = {
    <div class="weekly-planning-individual-activity-wrapper">
        <ul>
        @for(line <- elem.attributeValue.split("\n")){
            <li class="text-dark">@line</li>
        }
        </ul>
        <div class="weekly-planning-groups-for-activity">
            @*<span class="text-muted">Groups: </span>*@
            @for(groupId <- lessonPlan.activitiesPerGroup(elem)){
                <span class="weekly-planning-group-for-activity text-info">@classDetails.findGroupName(groupId)</span>
            }
        </div>
    </div>
}

@buildHtmlList(elements: List[AttributeRowKey], lessonPlan: LessonPlan) = {
    <ul>
        @for(elem <- elements.sortBy(key => key.attributeOrderNumber)) {
            <li>
            @buildListFromNewLines(elem, lessonPlan)
            </li>
        }
    </ul>
}

@buildActivitiesOutput(subjectName: String, subjectInstance: SubjectDetailWrapper, dayOfTheWeek: String) = {
    <div>
        @if(fullWeeklyPlanOfLessons.subjectToWeeklyPlanOfSubject.isDefinedAt(subjectName)) {
            @if(fullWeeklyPlanOfLessons.subjectToWeeklyPlanOfSubject(subjectName).findLessonPlan(subjectInstance.subjectDetail.startTime.timeIso8601, dayOfTheWeek).isDefined){
                @buildHtmlList(fullWeeklyPlanOfLessons.subjectToWeeklyPlanOfSubject(subjectName).findLessonPlan(subjectInstance.subjectDetail.startTime.timeIso8601, dayOfTheWeek).get.activitiesPerGroup.keys.toList,
                    fullWeeklyPlanOfLessons.subjectToWeeklyPlanOfSubject(subjectName).findLessonPlan(subjectInstance.subjectDetail.startTime.timeIso8601, dayOfTheWeek).get)
            } else {
                <div class="text-muted">None yet</div>
            }
        } else {
            <div class="text-muted">None yet</div>
        }
    </div>
}

@_templateWeeklyPlanning(handler, userPictureUri, userFirstName, userFamilyName, classDetails, CLASS_WEEKLY_PLANS, Some(WEEKLY_VIEW), currentTerm, weekNumber, todaysDate) {

    <div class="row d-flex justify-content-around">
        <button id="weekly-planning-plan-this-week-button" type="button" class="btn btn-primary btn-lg">
            Planning View
        </button>
    </div>


    <section id="class-timetable-section">

        <div class="table-responsive-md">
            <table class="table table-sm table-light ">
                <thead class="bg-secondary text-light">
                    <tr>
                        <th scope="col" class="align-top text-center" width="100px"></th>
                        <th scope="col"><div class="col"></div></th>
                        @for((schoolTimeBoundary, index) <- classTimetable.schoolTimes.schoolSessionBoundaries.sortBy(time => time.sessionBoundary.boundaryStartTime.timeIso8601).zipWithIndex) {
                            @if(schoolTimeBoundary.sessionBoundary.boundaryType == SessionBoundaryType.START_OF_TEACHING_SESSION) {
                                <th scope="col" >
                                    <div class="text-center">@splitCamel(schoolTimeBoundary.sessionBoundary.sessionName.getOrElse(SessionName("")).value)</div>
                                    <div class="row">
                                        <div class="col-auto mr-auto">
                                            <small class="weekly-planning-lesson-start-time">@schoolTimeBoundary.sessionBoundary.boundaryStartTime.timeIso8601</small>
                                        </div>

                                        <div class="col-auto ml-auto">
                                            <small class="weekly-planning-lesson-end-time">
                                            @{
                                                classTimetable.schoolTimes.schoolSessionBoundaries.sortBy(time => time.sessionBoundary.boundaryStartTime.timeIso8601).toList(index + 1).sessionBoundary.boundaryStartTime.timeIso8601
                                            }
                                            </small>
                                        </div>
                                    </div>
                                </th>
                                @if((index + 2) < classTimetable.schoolTimes.schoolSessionBoundaries.size) {
                                    <th scope="col" ></th>
                                }
                            }
                        }
                        <th scope="col"><div class="col"></div></th>
                    </tr>
                </thead>

                <tbody>
                @for(dayOfTheWeek <- List("MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY")) {
                    <tr>
                        <td class="align-middle text-center bg-secondary text-light">
                            <div class="weekly-plan-dayoftheweek">
                            @dayOfTheWeek.toLowerCase.capitalize
                            </div>
                            <div data-day-of-the-week="@dayOfTheWeek" class="weekly-plan-dayoftheweek-specific-date"></div>
                        </td>
                        <th scope="col" class=""><div class="col"></div></th>
                        @for((session, sessionIndex) <- classTimetable.allSessionsOfTheWeek.sortBy(sesh => (sesh.sessionOfTheDay.dayOfTheWeek.ordinal(), sesh.sessionOfTheDay.startTime.timeIso8601)).map(wrapper => wrapper.sessionOfTheDay).zipWithIndex) {
                            @if(session.dayOfTheWeek.toString == dayOfTheWeek) {
                                <td>
                                    <div class="row">
                                    @for(subject <- session.subjects) {
                                        <div class="@{
                                            calculateColumnBootstrapWidth(session.subjects.size)
                                        }" >
                                            <div class="weekly-plan-subject">
                                                <div class="rounded weekly-plan-subject-extent weekly-plan-subject-@subject.subjectDetail.subjectName.toString.toLowerCase.replace("_", "-")">

                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <small class="weekly-planning-lesson-time-subject">@subject.subjectDetail.startTime.timeIso8601</small>
                                                        </div>
                                                        <div>
                                                            <small class="weekly-planning-lesson-time-subject">@subject.subjectDetail.endTime.timeIso8601</small>
                                                        </div>
                                                    </div>

                                                    <div class="text-center weekly-plan-subject-name text-muted">
                                                        <u>@{
                                                            val subjectName = subject.subjectDetail.subjectName.toString.toLowerCase.split("_").toList.map(word => word.capitalize).mkString(" ")
                                                            if(subjectName == "Other") {
                                                                subject.subjectDetail.additionalInfo.value
                                                            } else {
                                                                subjectName.toUpperCase
                                                            }
                                                        }
                                                        </u>
                                                    </div>

                                                    <div class="text-center weekly-plan-subject-additional-info text-primary">
                                                        <small>
                                                        @{
                                                            val subjectName = subject.subjectDetail.subjectName.toString.toLowerCase.split("_").toList.map(word => word.capitalize).mkString(" ")
                                                            if(subjectName != "Other") {
                                                                subject.subjectDetail.additionalInfo.value
                                                            }
                                                        }
                                                        </small>
                                                    </div>

                                                    <div class="weekly-plan-subject-activities">
                                                        <div class="weekly-plan-subject-activties-header text-dark">
                                                        Activities
                                                        </div>
                                                        @{buildActivitiesOutput(SubjectsToPlanAreaUtil.convertSubjectNameToPlanAreaName(subject.subjectDetail.subjectName.toString), subject, dayOfTheWeek)}
                                                    </div>

                                                    @*<div class="weekly-plan-subject-benchmarks">*@
                                                        @*<div class="weekly-plan-subject-benchmarks-header  text-dark">*@
                                                        @*Benchmarks*@
                                                        @*</div>*@
                                                        @*<div class="single-eo-or-benchmark">Some benchmark one</div>*@
                                                        @*<div class="single-eo-or-benchmark">Some benchmark two</div>*@
                                                    @*</div>*@
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </td>
                                @if((sessionIndex + 1) > (classTimetable.allSessionsOfTheWeek.count(sesh => sesh.sessionOfTheDay.dayOfTheWeek.toString == dayOfTheWeek) % 3) &&
                                        (((sessionIndex % classTimetable.allSessionsOfTheWeek.count(sesh => sesh.sessionOfTheDay.dayOfTheWeek.toString == dayOfTheWeek)) + 1) <
                                                classTimetable.allSessionsOfTheWeek.filter(sesh => sesh.sessionOfTheDay.dayOfTheWeek.toString == dayOfTheWeek).count(sesh => sesh.sessionOfTheDay.dayOfTheWeek.toString == dayOfTheWeek))) {
                                    <div class="something">
                                        <td class="weekly-plan-spacing-column"><div class="col"></div></td>
                                    </div>
                                }
                            }
                        }
                        <div class="something">
                            <td class="weekly-plan-spacing-column"><div class="col"></div></td>
                        </div>
                    </tr>
                }
                </tbody>

            </table>
        </div>

    </section>


    <div class="modal" id="view-single-lesson-plan-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span data-subject-name="" id="view-single-lesson-plan-subject-name" class="text-success"></span>
                        Plan
                    </h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div id="view-single-lesson-plan-modal-body"></div>

                </div>
                <div class="modal-footer">
                    <button id="view-single-lesson-plan-save-subject-plan" type="button" class="btn btn-primary">
                        Save Plan</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <script>
            localStorage.setItem("classId", "@classDetails.id.id");
    </script>

    @scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
}
