@import duplicate.model.ClassDetails
@import io.sudostream.timetoteach.messages.systemwide.model.classtimetable.ClassTimetable
@import models.timetoteach.classtimetable.SchoolDayTimes
@import models.timetoteach.ui._
@import io.sudostream.timetoteach.messages.systemwide.model.classtimetable.sessions.SessionBoundaryType
@import io.sudostream.timetoteach.messages.systemwide.model.classtimetable.sessions.SessionName
@(handler: be.objectify.deadbolt.scala.DeadboltHandler,
        userPictureUri: Option[String],
        userFirstName: Option[String],
        userFamilyName: Option[String],
        classDetails: ClassDetails,
        schoolDayTimes: SchoolDayTimes,
        classTimetable: ClassTimetable
)

@splitCamel(s: String) = {
    @s.replaceAll(
      String.format("%s|%s|%s",
         "(?<=[A-Z])(?=[A-Z][a-z])",
         "(?<=[^A-Z])(?=[A-Z])",
         "(?<=[A-Za-z])(?=[^A-Za-z])"
      ),
      " "
   ).replaceAll("  ", " ").replace("Session", "")
}

@_templateWeeklyPlanning(handler, userPictureUri, userFirstName, userFamilyName, classDetails, CLASS_WEEKLY_PLANS, Some(WEEKLY_VIEW)) {

    <section id="class-timetable-section">

            <div class="table-responsive">
                <table class="table table-sm table-bordered table-dark">
                    <caption>Weekly Timetable</caption>

                    <thead >
                        <tr>
                            <th scope="col" class="align-top text-center">Day</th>
                            @for((schoolTimeBoundary, index) <- classTimetable.schoolTimes.schoolSessionBoundaries.sortBy(time => time.sessionBoundary.boundaryStartTime.timeIso8601).zipWithIndex) {
                                @if(schoolTimeBoundary.sessionBoundary.boundaryType == SessionBoundaryType.START_OF_TEACHING_SESSION) {
                                    <th scope="col" >
                                        <div class="text-center">@splitCamel(schoolTimeBoundary.sessionBoundary.sessionName.getOrElse(SessionName("")).value)</div>
                                        <div class="row">
                                            <div class="col-auto mr-auto">
                                                <small class="weekly-planning-lesson-start-time">@schoolTimeBoundary.sessionBoundary.boundaryStartTime.timeIso8601</small>
                                            </div>

                                            <div class="col-auto ml-auto">
                                                <small class="weekly-planning-lesson-end-time">
                                                @{
                                                    classTimetable.schoolTimes.schoolSessionBoundaries.sortBy(time => time.sessionBoundary.boundaryStartTime.timeIso8601).toList(index + 1).sessionBoundary.boundaryStartTime.timeIso8601
                                                }
                                                </small>
                                            </div>
                                        </div>
                                    </th>
                                }
                            }
                        </tr>
                    </thead>

                </table>
            </div>


    </section>


    @scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
}
